<a href="https://colab.research.google.com/github/kevorkian-mano/Motor_Vehicle_Collisions_Project/blob/main/crashes_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Step1 Loading The Data**

In [9]:
import pandas as pd
# Load crashes dataset
crashes_url = 'https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=download'
df_crashes = pd.read_csv(crashes_url , low_memory=False)
# Load persons dataset
#persons_url = 'https://data.cityofnewyork.us/api/views/f55k-p6yu/rows.csv?accessType=download'
#df_persons = pd.read_csv(persons_url , low_memory=False)

# **Step2 Exploring The Data**

In [11]:
df_crashes.info()

df_crashes.shape
sample_crashes = df_crashes.sample(10000, random_state=42)
sample_crashes.head(10)
sample_crashes.columns.tolist()
sample_crashes.isna().sum().sort_values(ascending=False).head(15)

sample_crashes.describe()
sample_crashes.head(10)
sample_crashes.tail(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2219657 entries, 0 to 2219656
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 491.1+ MB

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1361589,01/22/2016,17:45,QUEENS,11366,40.722203,-73.804595,"(40.7222031, -73.8045949)",164 STREET,78 ROAD,NaN,...,Fatigued/Drowsy,NaN,NaN,NaN,3375960,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1842999,10/18/2013,23:40,NaN,NaN,40.714873,-73.729097,"(40.7148726, -73.7290966)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3017881,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
832363,05/16/2018,16:00,QUEENS,11434,40.819572,-73.951750,"(40.819572, -73.95175)",NORTH CONDUIT AVENUE,136 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3901814,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1649976,09/21/2014,1:45,MANHATTAN,10004,40.705148,-74.009983,"(40.7051478, -74.0099834)",WILLIAM STREET,BEAVER STREET,NaN,...,Other Vehicular,NaN,NaN,NaN,1068591,LIVERY VEHICLE,TAXI,NaN,NaN,NaN
540589,08/30/2019,17:30,BROOKLYN,11206,40.700160,-73.940926,"(40.70016, -73.940926)",NaN,NaN,777 BROADWAY,...,NaN,NaN,NaN,NaN,4198787,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
915443,01/27/2018,22:35,QUEENS,11434,40.678650,-73.791466,"(40.67865, -73.791466)",119 ROAD,SUTPHIN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3837245,Sedan,Sedan,NaN,NaN,NaN
1339285,03/04/2016,10:50,BRONX,10452,40.838000,-73.921028,"(40.8379995, -73.9210283)",WEST 169 STREET,INWOOD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3399348,LIVERY VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
2124862,08/20/2024,19:20,BROOKLYN,11212,40.662136,-73.904920,"(40.662136, -73.90492)",NaN,NaN,681 STONE AVENUE,...,Unspecified,NaN,NaN,NaN,4749449,Sedan,E-Scooter,NaN,NaN,NaN
646825,03/17/2019,21:20,BROOKLYN,11233,40.676495,-73.913704,"(40.676495, -73.913704)",ATLANTIC AVENUE,BOYLAND STREET,NaN,...,Unspecified,Unspecified,NaN,NaN,4099179,Sedan,Sedan,Tow Truck / Wrecker,NaN,NaN
647725,03/04/2019,15:00,BRONX,10453,40.847960,-73.914440,"(40.84796, -73.91444)",WEST 175 STREET,GRAND AVENUE,NaN,...,NaN,NaN,NaN,NaN,4091259,Sedan,NaN,NaN,NaN,NaN

# **Step3 Cleaning The Data (Pre-Integration)**

The Contributing Factor Veichle coloums cleaning

In [12]:
import numpy as np
factor_cols = [f'CONTRIBUTING FACTOR VEHICLE {i}' for i in range(1, 6)]

In [13]:
def clean_text(text):
    if pd.isna(text):
        return np.nan
    return str(text).strip().lower()

for col in factor_cols:
    df_crashes[col] = df_crashes[col].apply(clean_text)

In [14]:
replacements = {
    # Vehicle defects
    'accelerator defective': 'vehicle defect',
    'brakes defective': 'vehicle defect',
    'steering failure': 'vehicle defect',
    'tire failure/inadequate': 'vehicle defect',
    'headlights defective': 'vehicle defect',
    'other lighting defects': 'vehicle defect',
    'tow hitch defective': 'vehicle defect',
    'driverless/runaway vehicle': 'vehicle defect',
    'oversized vehicle': 'vehicle defect',
    'other vehicular': 'vehicle defect',

    # Driver behavior
    'aggressive driving/road rage': 'aggressive driving',
    'unsafe lane changing': 'unsafe maneuver',
    'turning improperly': 'unsafe maneuver',
    'backing unsafely': 'unsafe maneuver',
    'passing or lane usage improper': 'unsafe maneuver',
    'passing too closely': 'tailgating',
    'following too closely': 'tailgating',
    'failure to yield right-of-way': 'failure to yield',
    'failure to keep right': 'failure to keep right',
    'unsafe speed': 'speeding',

    # Distraction
    'driver inattention/distraction': 'driver inattention',
    'outside car distraction': 'external distraction',
    'passenger distraction': 'passenger distraction',
    'cell phone (hand-held)': 'cell phone use',
    'cell phone (hands-free)': 'cell phone use',
    'texting': 'cell phone use',
    'using on board navigation device': 'cell phone use',
    'listening/using headphones': 'distraction',
    'other electronic device': 'distraction',
    'eating or drinking': 'distraction',

    # Driver condition
    'fatigued/drowsy': 'driver fatigue',
    'fell asleep': 'driver fatigue',
    'driver inexperience': 'driver inexperience',
    'alcohol involvement': 'substance impairment',
    'drugs (illegal)': 'substance impairment',
    'prescription medication': 'substance impairment',
    'lost consciousness': 'driver illness',
    'illness': 'driver illness',
    'illnes': 'driver illness',
    'physical disability': 'driver illness',

    # Environmental or road factors
    'animals action': 'animal on road',
    'obstruction/debris': 'road obstruction',
    'pavement defective': 'road defect',
    'pavement slippery': 'slippery pavement',
    'lane marking improper/inadequate': 'road defect',
    'shoulders defective/improper': 'road defect',
    'traffic control device improper/non-working': 'traffic control issue',
    'traffic control disregarded': 'traffic violation',
    'view obstructed/limited': 'visibility issue',
    'glare': 'visibility issue',
    'windshield inadequate': 'visibility issue',
    'tinted windows': 'visibility issue',

    # Pedestrian or others
    'pedestrian/bicyclist/other pedestrian error/confusion': 'pedestrian or bicyclist error',
    'reaction to other uninvolved vehicle': 'reaction to other vehicle',
    'reaction to uninvolved vehicle': 'reaction to other vehicle',

    # Miscellaneous
    'vehicle vandalism': 'vandalism',
    '1': 'unspecified',
    '80': 'unspecified',
    'unspecified': 'unspecified'
}

In [15]:
for col in factor_cols:
    df_crashes[col] = df_crashes[col].replace(replacements)

In [16]:
all_factors = pd.concat([df_crashes[col] for col in factor_cols], ignore_index=True)
cleaned_counts = all_factors.value_counts()

print("Normalization complete.")
print(f"Number of unique normalized categories: {cleaned_counts.shape[0]}")
print("\nTop 20 factors:\n", cleaned_counts.head(28))

Normalization complete.
Number of unique normalized categories: 27

Top 20 factors:
 unspecified                      2504726
driver inattention                553815
unsafe maneuver                   281853
tailgating                        208508
failure to yield                  151134
vehicle defect                    140856
driver fatigue                     66382
traffic violation                  49044
substance impairment               47423
driver inexperience                43238
driver illness                     42332
speeding                           40686
reaction to other vehicle          27253
slippery pavement                  25492
visibility issue                   23970
external distraction               16003
pedestrian or bicyclist error      14508
aggressive driving                 12992
passenger distraction              10090
road obstruction                    5433
road defect                         4591
failure to keep right               4197
distraction                         3227
animal on road                      1768
traffic control issue               1480
cell phone use                      1344
vandalism                            172
Name: count, dtype: int64

In [17]:
all_factors.value_counts().head(50)

unspecified                      2504726
driver inattention                553815
unsafe maneuver                   281853
tailgating                        208508
failure to yield                  151134
vehicle defect                    140856
driver fatigue                     66382
traffic violation                  49044
substance impairment               47423
driver inexperience                43238
driver illness                     42332
speeding                           40686
reaction to other vehicle          27253
slippery pavement                  25492
visibility issue                   23970
external distraction               16003
pedestrian or bicyclist error      14508
aggressive driving                 12992
passenger distraction              10090
road obstruction                    5433
road defect                         4591
failure to keep right               4197
distraction                         3227
animal on road                      1768
traffic control issue               1480
cell phone use                      1344
vandalism                            172
Name: count, dtype: int64

In [18]:
# drop NaN values where factors 1 - 3 are all NaN
factor_cols = [f'CONTRIBUTING FACTOR VEHICLE {i}' for i in range(1, 4)]

mask = df_crashes[factor_cols].apply(lambda row: all(
    (pd.isna(x) or x.lower().strip() == 'unspecified') for x in row
), axis=1)
df_crashes = df_crashes[~mask]

In [19]:
df_crashes[factor_cols] = df_crashes[factor_cols].fillna('missing')

/tmp/ipython-input-2967185775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crashes[factor_cols] = df_crashes[factor_cols].fillna('missing')

In [20]:
print(df_crashes[factor_cols].isna().sum())
print(df_crashes[factor_cols].head(10))

CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
CONTRIBUTING FACTOR VEHICLE 3    0
dtype: int64
   CONTRIBUTING FACTOR VEHICLE 1 CONTRIBUTING FACTOR VEHICLE 2  \
0             aggressive driving                   unspecified
1              slippery pavement                       missing
3                     tailgating                   unspecified
4                     tailgating                   unspecified
6                     tailgating            driver inattention
7               failure to yield                       missing
12                    tailgating                   unspecified
14           driver inexperience                   unspecified
15                    tailgating                   unspecified
16               unsafe maneuver                   unspecified

   CONTRIBUTING FACTOR VEHICLE 3
0                        missing
1                        missing
3                        missing
4                        missing
6                        missing
7                        missing
12                       missing
14                       missing
15                       missing
16                       missing

In [21]:
# List of the 3 factor columns
factor_cols = [
    "CONTRIBUTING FACTOR VEHICLE 1",
    "CONTRIBUTING FACTOR VEHICLE 2",
    "CONTRIBUTING FACTOR VEHICLE 3",
]

# Combine non-unspecified and non-missing factors into a single list per row
df_crashes["ALL_CONTRIBUTING_FACTORS"] = df_crashes[factor_cols].apply(
    lambda x: [f for f in x if f not in ["unspecified", "missing"]], axis=1
)

#  convert the list into a string for easier viewing/aggregation
df_crashes["ALL_CONTRIBUTING_FACTORS_STR"] = df_crashes["ALL_CONTRIBUTING_FACTORS"].apply(
    lambda x: ", ".join(x) if x else "none"
)

# Quick check
df_crashes[["ALL_CONTRIBUTING_FACTORS", "ALL_CONTRIBUTING_FACTORS_STR"]].head()

/tmp/ipython-input-4260205474.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crashes["ALL_CONTRIBUTING_FACTORS"] = df_crashes[factor_cols].apply(
/tmp/ipython-input-4260205474.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crashes["ALL_CONTRIBUTING_FACTORS_STR"] = df_crashes["ALL_CONTRIBUTING_FACTORS"].apply(

           ALL_CONTRIBUTING_FACTORS    ALL_CONTRIBUTING_FACTORS_STR
0              [aggressive driving]              aggressive driving
1               [slippery pavement]               slippery pavement
3                      [tailgating]                      tailgating
4                      [tailgating]                      tailgating
6  [tailgating, driver inattention]  tailgating, driver inattention

In [22]:
import numpy as np

cols = [
    'CONTRIBUTING FACTOR VEHICLE 1',
    'CONTRIBUTING FACTOR VEHICLE 2',
    'CONTRIBUTING FACTOR VEHICLE 3',
    'CONTRIBUTING FACTOR VEHICLE 4',
    'CONTRIBUTING FACTOR VEHICLE 5'
]

for col in cols:
    df_crashes[col] = df_crashes[col].replace('missing', np.nan)


df_crashes.count()

/tmp/ipython-input-2730458303.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crashes[col] = df_crashes[col].replace('missing', np.nan)

CRASH DATE                       1468703
CRASH TIME                       1468703
BOROUGH                           965738
ZIP CODE                          965545
LATITUDE                         1314008
LONGITUDE                        1314008
LOCATION                         1314008
ON STREET NAME                   1150546
CROSS STREET NAME                 847691
OFF STREET NAME                   261544
NUMBER OF PERSONS INJURED        1468699
NUMBER OF PERSONS KILLED         1468691
NUMBER OF PEDESTRIANS INJURED    1468703
NUMBER OF PEDESTRIANS KILLED     1468703
NUMBER OF CYCLIST INJURED        1468703
NUMBER OF CYCLIST KILLED         1468703
NUMBER OF MOTORIST INJURED       1468703
NUMBER OF MOTORIST KILLED        1468703
CONTRIBUTING FACTOR VEHICLE 1    1468703
CONTRIBUTING FACTOR VEHICLE 2    1315022
CONTRIBUTING FACTOR VEHICLE 3     122861
CONTRIBUTING FACTOR VEHICLE 4      28930
CONTRIBUTING FACTOR VEHICLE 5       8106
COLLISION_ID                     1468703
VEHICLE TYPE CODE 1              1460402
VEHICLE TYPE CODE 2              1226512
VEHICLE TYPE CODE 3               116860
VEHICLE TYPE CODE 4                27652
VEHICLE TYPE CODE 5                 7797
ALL_CONTRIBUTING_FACTORS         1468703
ALL_CONTRIBUTING_FACTORS_STR     1468703
dtype: int64

In [23]:
sparse_cols = ["CONTRIBUTING FACTOR VEHICLE 4","CONTRIBUTING FACTOR VEHICLE 5"]
df_crashes.drop(columns=sparse_cols, inplace=True)

/tmp/ipython-input-518731030.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crashes.drop(columns=sparse_cols, inplace=True)

In [24]:
# Keep only the first three contributing factor columns
factor_cols = [f'CONTRIBUTING FACTOR VEHICLE {i}' for i in range(1, 4)]

# Replace NaN with 'unspecified'
df_crashes[factor_cols] = df_crashes[factor_cols].fillna('unspecified')

/tmp/ipython-input-3037195348.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crashes[factor_cols] = df_crashes[factor_cols].fillna('unspecified')

In [25]:
df_crashes["CRASH_DATETIME"] = pd.to_datetime(
    df_crashes["CRASH DATE"] + " " + df_crashes["CRASH TIME"],
    errors="coerce"
)
df_crashes = df_crashes.drop(columns=['CRASH DATE', 'CRASH TIME'])

/tmp/ipython-input-683500600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crashes["CRASH_DATETIME"] = pd.to_datetime(

In [26]:
# Drop location tuple since it is redundunt
df_crashes = df_crashes.drop(columns=['LOCATION'])

In [27]:
vehicle_cols = [f'VEHICLE TYPE CODE {i}' for i in range(1, 6)]

# Print unique values for each vehicle type column
for col in vehicle_cols:
    unique_vals = df_crashes[col].dropna().unique()
    print(f"{col} ({len(unique_vals)} unique values):\n{unique_vals}\n")

VEHICLE TYPE CODE 1 (1527 unique values):
['Sedan' 'Station Wagon/Sport Utility Vehicle' 'Tanker' ... 'Electric s'
 'Gmc pick u' 'FDNY FERRA']

VEHICLE TYPE CODE 2 (1740 unique values):
['Sedan' 'Pick-up Truck' 'Station Wagon/Sport Utility Vehicle' ...
 'Fdny truck' 'BOOM SKY R' 'TRUCK CRAN']

VEHICLE TYPE CODE 3 (266 unique values):
['Sedan' 'Station Wagon/Sport Utility Vehicle' 'Pick-up Truck' 'E-Scooter'
 'Box Truck' 'Van' 'Taxi' 'Bike' 'E-Bike' 'UTILITY TR' 'Motorbike'
 'Motorcycle' 'Bus' 'Flat Bed' 'Tow Truck / Wrecker'
 'Tractor Truck Diesel' 'Ambulance' 'Convertible' 'PK' 'Dump'
 'Bulk Agriculture' 'COMMERCIAL' 'Moped' 'Armored Truck' 'Sprinter V'
 'DUMP' 'FIRE TRUCK' 'UNK' '4 dr sedan' 'TRAILER' 'DELIVERY T'
 'Chassis Cab' 'Open Body' 'TOW TRUCK' 'Garbage or Refuse'
 'Concrete Mixer' 'Commercial' 'PASSENGER' 'GARBAGE TR' 'FDNY FIRE' 'AMB'
 'Lift Boom' 'Tanker' 'Tractor Truck Gasoline' 'STATION WA' 'LIMO'
 'NYC AMBULA' 'Trailor' 'MOPED' 'AMBULANCE' 'Moped scoo' 'sprinter'
 'vehicle tr' 'School Bus' 'BOOM 60FT' 'Cargo' 'BOX TRUCK' 'NYC SANITA'
 'Carry All' 'Multi-Wheeled Vehicle' '3-Door' 'Budget tru' 'Unknown'
 'School bus' 'Refrigerated Van' 'Motorscooter' 'RV' 'JEEP' 'Flat Rack'
 'POWER SHOV' 'ECOLINE VA' 'UNICYCLE' 'Tow-truck' 'Dollar Van' 'ICE CREAM'
 'Fire Truck' 'Trailer' 'van' 'BK' 'WORK VAN' 'PICKUP' 'ELECTRIC S'
 'motor home' 'FLAT' 'Utility' 'GOLF CART' 'Fire rig t' 'Beverage Truck'
 'UTILITY VA' 'TRL' 'Truck' 'Motorhome' 'Rental van' 'COM' 'FDNY TRUCK'
 'Unk' 'TRAC' 'vAN' 'USPS' 'Flatbed' 'DUMP TRUCK' 'FORD-TCN' 'u haul'
 'subn' 'HURSE' 'Tow Truck' 'unknown' 'f1' 'SUBURBAN' 'MTA BUS'
 'Stake or Rack' 'POLICE VEH' 'TRUCK' 'Box truck' 'SALTSPREAD' 'bus'
 'Ford' 'UPS VAN' 'Ridgeline' 'Pedicab' 'Van Camper' 'DSNY Garba'
 'UHal Renta' 'FORD' 'UPS TRUCK' 'Moving van' 'Lunch Wagon' 'PICK UP'
 'SCHOOL BUS' 'FDNY FIRET' 'PICK-UP TR' 'RV MOTOR H' 'Jo/de' 'BOBCAT'
 'Motor Home' 'Fdny fire' 'Sierra' 'DIRT BIKE' 'MTA bus' 'semitraile'
 'Snow Plow' 'UHAUL VAN' 'USPS MAIL' 'VAN TRUCK' 'SPC' 'HOUSE ON W'
 'E-BIKE' 'CARGO VAN' 'UNATTACHED' 'UHAUL BOX' 'CONCRETE M' 'UHAUL Trai'
 'trailer' 'TRACTOR TR' 'bmw moped' 'TRANSPORT' 'Motorized Home' 'DUAL'
 'passenger' 'Garbage tr' 'FOOD TRUCK' 'Pallet' 'E-Bik' 'TRACT' 'box t'
 'FOOD' 'DELIV' 'Fire' 'hrse' 'TRAIL' 'SCHOO' 'Pickup with mounted Camper'
 'DIRT-' 'scoot' 'ambul' 'BUs' 'tank' 'POSTA' 'FDNY' 'AMBUL' 'VERIZ'
 'Ambul' 'P/SH' 'CMIX' 'ELECT' 'TRIALER' 'GOVER' 'UTILI' 'TLR' 'trail'
 'comme' 'bsd' 'Freig' 'FORK' 'OLM' 'Vanette' 'TOW T' 'elect' 'HEAVY'
 'Horse' 'STREE' 'dump' 'tract' 'harve' 'suv /' 'tow' 'PAS' 'OMT' 'MOTOR'
 'UNKNO' 'GMC T' 'firet' 'AMUBL' 'road' 'const' 'FORKL' 'Uhaul' 'MTA B'
 'psd' '2 dr sedan' 'mta b' 'fre' 'FIRE' 'BICYCLE'
 'SMALL COM VEH(4 TIRES) ' 'BARRI' 'sanit' 'SPORT UTILITY / STATION WAGON'
 'FIRET' 'unkno' 'Trail' 'PASSENGER VEHICLE'
 'LARGE COM VEH(6 OR MORE TIRES)' 'UNKNOWN' 'BUS' 'VAN' 'TAXI' 'OTHER'
 'LIVERY VEHICLE' 'PICK-UP TRUCK' 'SCOOTER' 'MOTORCYCLE' 'PEDICAB' 'c1'
 'Pickup' 'UTILITY' 'Box' 'DELIVERY V' 'CONSTRUCTI' 'moped' 'HINO MOTOR'
 'pick up tr' 'Street swe' 'Minicycle' 'pk' 'Glass Rack' 'PROGRESSIV'
 'Road Sweep' 'POSTAL TRU' 'c3' 'FORKLIFT' 'Scooter' 'GATOR' 'Standing S'
 'WHITE VAN' 'uhaul box']

VEHICLE TYPE CODE 4 (105 unique values):
['Station Wagon/Sport Utility Vehicle' 'Sedan' 'Box Truck' 'Van' 'Taxi'
 'bus' 'Pick-up Truck' 'Tow Truck / Wrecker' 'School Bus' 'Bike' 'van'
 'Tractor Truck Diesel' 'Dump' 'Tanker' 'Moped' 'Bus' 'E-Scooter'
 'Beverage Truck' 'DELIVERY T' 'Motorcycle' 'Pedicab' 'E-Bike' 'Courier'
 '4 dr sedan' 'SUBURBAN' 'NYC TRANSI' 'SEDAN' 'Flat Bed' 'UNK' 'Trailor'
 'PK' 'ECONOLINE' 'Carry All' 'Tractor Truck Gasoline' 'Garbage or Refuse'
 'LIMO' 'SEMI-TRUCK' 'Multi-Wheeled Vehicle' 'Convertible' 'Lift Boom'
 '3-Door' 'BOAT' 'AMBULANCE' 'Bulk Agriculture' 'subn' 'COMMERCIAL'
 'PICK UP TR' 'Chassis Cab' 'Ambulance' 'Tractor Tr' 'Motorbike' 'Pick-Up'
 'RV motorho' 'PICKUP TRU' 'TRAILER' 'Passenger' 'Electric M' 'Omni Bus'
 'PICK UP' 'WORK VAN' 'SNOWMOBILE' 'Motorscooter' 'UHAUL'
 'Refrigerated Van' 'PICK-UP TR' 'trailor' 'CARGO VAN' 'FLATBED TR'
 'Open Body' 'FDNY' 'TLR' 'TOYOT' 'SPRIN' 'TRAIL' 'Deliv' 'TOW T' 'TRACT'
 'trail' 'dump' 'PAS 5' '2 dr sedan' 'AMBUL' 'MOPED' 'JEEP'
 'PASSENGER VEHICLE' 'SPORT UTILITY / STATION WAGON' 'UNKNOWN'
 'MOTORCYCLE' 'OTHER' 'TAXI' 'SMALL COM VEH(4 TIRES) ' 'VAN'
 'PICK-UP TRUCK' 'LARGE COM VEH(6 OR MORE TIRES)' 'LIVERY VEHICLE'
 'BICYCLE' 'SCOOTER' 'BUS' 'FIRE TRUCK' 'Bulldozer' 'COM' 'RV'
 'SANITATION' 'Concrete Mixer' 'Pick up tr']

VEHICLE TYPE CODE 5 (72 unique values):
['Station Wagon/Sport Utility Vehicle' 'Sedan' 'Pick-up Truck' 'Taxi'
 'Dump' 'Van' 'Moped' 'Box Truck' 'C3' 'Motorcycle' 'Bike'
 'Tractor Truck Diesel' 'Bus' 'Tow Truck / Wrecker' 'TRACTOR TR'
 'Lunch Wagon' 'Truck' 'TRAILER' 'E-BIKE' 'TRAILOR' 'Armored Truck'
 'Convertible' 'E-Scooter' 'Tractor Truck Gasoline' 'E-Bike' 'FORD SUPER'
 'Concrete Mixer' 'STREET SWE' 'Garbage or Refuse' 'Snow Plow' 'Soccer'
 'Ambulance' 'PK' 'SNOWMOBILE' 'Motorscooter' 'trailer' 'VAN FORD'
 'Box truck' 'van' 'FRONT' 'Wagon' 'back' 'Carry All' 'TRUCK' 'TRK' 'dump'
 'OML' 'Flat Rack' 'Bulk Agriculture' 'Tanker' 'Chassis Cab' '4 dr sedan'
 '2 dr sedan' 'UNKNOWN' 'SPORT UTILITY / STATION WAGON' 'PICK-UP TRUCK'
 'PASSENGER VEHICLE' 'OTHER' 'SMALL COM VEH(4 TIRES) ' 'TAXI' 'VAN'
 'LIVERY VEHICLE' 'LARGE COM VEH(6 OR MORE TIRES)' 'BUS' 'MOTORCYCLE'
 'AMBULANCE' 'BICYCLE' 'SCOOTER' 'Flat Bed' 'jeep' 'Pedicab' 'RAM']

In [28]:
import re

vehicle_patterns = {
    'Sedan': [r'\b(sedan|4 dr|2 dr)\b'],
    'SUV/Station Wagon': [r'\b(suv|station wagon|sport utility|suv/sta)\b'],
    'Pickup Truck': [r'\b(pick[- ]?up|pickup|pick up truck)\b'],
    'Truck/Commercial': [r'\b(truck|tractor truck|flatbed|semi|delivery|box truck|commercial|bulk|garbage|tow[- ]?truck|dump|concrete|milk|beverage)\b'],
    'Van': [r'\b(van|van camper|refrigerated|utility van|work van|uhaul)\b'],
    'Motorcycle': [r'\b(motorcycle|motorbike|moped|moped/scooter|scooter|e-bike|e-bike|ebike|motorscooter|dirt bike)\b'],
    'Bus': [r'\b(bus|school bus|mta|nyc transit|omnibus|coach)\b'],
    'Taxi': [r'\b(taxi|livery)\b'],
    'Ambulance': [r'\b(ambulance|fdny|nyc ambula)\b'],
    'Pedicab': [r'\b(pedicab)\b'],
    'Bicycle': [r'\b(bike|bicycle|unicycle)\b'],
    'Other': [r'.*']  # fallback
}

In [29]:
def clean_vehicle_type(raw):
    if not isinstance(raw, str):
        return 'Other'
    raw_lower = raw.lower()
    for category, patterns in vehicle_patterns.items():
        for pat in patterns:
            if re.search(pat, raw_lower):
                return category
    return 'Other'

In [30]:
for col in ['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
            'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']:
    df_crashes[col] = df_crashes[col].apply(clean_vehicle_type)

In [31]:
df_crashes.head(20)

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,...,CONTRIBUTING FACTOR VEHICLE 3,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,ALL_CONTRIBUTING_FACTORS,ALL_CONTRIBUTING_FACTORS_STR,CRASH_DATETIME
0,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,0.0,0,...,unspecified,4455765,Sedan,Sedan,Other,Other,Other,[aggressive driving],aggressive driving,2021-09-11 02:39:00
1,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,0.0,0,...,unspecified,4513547,Sedan,Other,Other,Other,Other,[slippery pavement],slippery pavement,2022-03-26 11:45:00
3,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,0.0,0,...,unspecified,4541903,Sedan,Pickup Truck,Other,Other,Other,[tailgating],tailgating,2022-06-29 06:55:00
4,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,0.0,0.0,0,...,unspecified,4566131,SUV/Station Wagon,Other,Other,Other,Other,[tailgating],tailgating,2022-09-21 13:21:00
6,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,NaN,NaN,0.0,0.0,0,...,unspecified,4675709,Sedan,SUV/Station Wagon,Other,Other,Other,"[tailgating, driver inattention]","tailgating, driver inattention",2023-11-01 07:12:00
7,NaN,NaN,NaN,NaN,WEST 35 STREET,HENRY HUDSON RIVER,NaN,0.0,0.0,0,...,unspecified,4675769,Sedan,Other,Other,Other,Other,[failure to yield],failure to yield,2023-11-01 08:01:00
12,NaN,NaN,40.709183,-73.956825,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,0.0,0.0,0,...,unspecified,4486555,Sedan,Truck/Commercial,Other,Other,Other,[tailgating],tailgating,2021-12-14 17:05:00
14,BROOKLYN,11207,40.671720,-73.897100,NaN,NaN,2047 PITKIN AVENUE,0.0,0.0,0,...,unspecified,4487074,Sedan,Other,Other,Other,Other,[driver inexperience],driver inexperience,2021-12-14 21:10:00
15,MANHATTAN,10017,40.751440,-73.973970,3 AVENUE,EAST 43 STREET,NaN,0.0,0.0,0,...,unspecified,4486519,Sedan,SUV/Station Wagon,Other,Other,Other,[tailgating],tailgating,2021-12-14 14:58:00
16,NaN,NaN,40.701275,-73.888870,MYRTLE AVENUE,NaN,NaN,0.0,0.0,0,...,unspecified,4486934,SUV/Station Wagon,Other,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-13 00:34:00
17,QUEENS,11413,40.675884,-73.755770,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,NaN,0.0,0.0,0,...,unspecified,4487127,Sedan,SUV/Station Wagon,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-14 16:50:00
18,NaN,NaN,NaN,NaN,broadway,west 80 street -west 81 street,NaN,0.0,0.0,0,...,unspecified,4486634,SUV/Station Wagon,Sedan,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-14 08:30:00
19,NaN,NaN,40.596620,-74.002310,BELT PARKWAY,NaN,NaN,0.0,0.0,0,...,unspecified,4486564,Sedan,Other,Other,Other,Other,[speeding],speeding,2021-12-14 00:59:00
20,QUEENS,11434,40.666840,-73.789410,NORTH CONDUIT AVENUE,150 STREET,NaN,2.0,0.0,0,...,unspecified,4486635,Sedan,Sedan,Other,Other,Other,[reaction to other vehicle],reaction to other vehicle,2021-12-14 23:10:00
21,BROOKLYN,11217,40.681580,-73.974630,NaN,NaN,480 DEAN STREET,0.0,0.0,0,...,unspecified,4486604,Other,SUV/Station Wagon,Other,Other,Other,[tailgating],tailgating,2021-12-14 17:58:00
22,BROOKLYN,11226,40.650680,-73.958810,NaN,NaN,878 FLATBUSH AVENUE,4.0,0.0,0,...,unspecified,4486991,Sedan,Other,Other,Other,Other,[vehicle defect],vehicle defect,2021-12-14 20:03:00
23,NaN,NaN,NaN,NaN,MEEKER AVENUE,LORIMER STREET,NaN,3.0,0.0,0,...,unspecified,4486284,SUV/Station Wagon,SUV/Station Wagon,Other,Other,Other,[traffic violation],traffic violation,2021-12-14 01:28:00
25,NaN,NaN,40.783268,-73.824850,WHITESTONE EXPRESSWAY,NaN,NaN,0.0,0.0,0,...,unspecified,4486537,SUV/Station Wagon,Sedan,Sedan,Other,Other,[tailgating],tailgating,2021-12-14 14:30:00
26,MANHATTAN,10001,40.748917,-73.993546,NaN,NaN,232 WEST 30 STREET,0.0,0.0,0,...,unspecified,4486905,SUV/Station Wagon,Other,Other,Other,Other,[tailgating],tailgating,2021-12-11 04:45:00
27,NaN,NaN,40.744644,-73.770410,LONG ISLAND EXPRESSWAY,NaN,NaN,1.0,0.0,0,...,unspecified,4487122,SUV/Station Wagon,SUV/Station Wagon,Other,Other,Other,"[vehicle defect, vehicle defect]","vehicle defect, vehicle defect",2021-12-14 05:46:00

In [32]:
import geopandas as gpd

# Direct raw GitHub GeoJSON (public)
url = "https://raw.githubusercontent.com/dwillis/nyc-maps/master/boroughs.geojson"
boroughs = gpd.read_file(url)

print(boroughs.head())

   BoroCode       BoroName    Shape_Leng    Shape_Area  \
0         5  Staten Island  330385.03697  1.623853e+09
1         4         Queens  861038.47930  3.049947e+09
2         3       Brooklyn  726568.94634  1.959432e+09
3         1      Manhattan  358532.95642  6.364422e+08
4         2          Bronx  464517.89055  1.186804e+09

                                            geometry
0  MULTIPOLYGON (((-74.05051 40.56642, -74.05047 ...
1  MULTIPOLYGON (((-73.83668 40.59495, -73.83678 ...
2  MULTIPOLYGON (((-73.86706 40.58209, -73.86769 ...
3  MULTIPOLYGON (((-74.01093 40.68449, -74.01193 ...
4  MULTIPOLYGON (((-73.89681 40.79581, -73.89694 ...

In [33]:
import geopandas as gpd
import pandas as pd

# 1. Convert crashes df to GeoDataFrame
crashes_gdf = gpd.GeoDataFrame(
    df_crashes,
    geometry=gpd.points_from_xy(df_crashes['LONGITUDE'], df_crashes['LATITUDE']),
    crs="EPSG:4326"
)

# 2. Spatial join to assign boroughs
crashes_with_borough = gpd.sjoin(
    crashes_gdf,
    boroughs[['BoroName', 'geometry']],
    how="left",
    predicate="within"  # <- updated argument
)

# 3. Fill missing BOROUGH from spatial join
df_crashes['BOROUGH'] = df_crashes['BOROUGH'].fillna(crashes_with_borough['BoroName'])

In [34]:
import geopandas as gpd

url_zip = "https://raw.githubusercontent.com/fedhere/PUI2015_EC/master/mam1612_EC/nyc-zip-code-tabulation-areas-polygons.geojson"
zipcodes = gpd.read_file(url_zip)
print(zipcodes.columns)  # check attributes

Index(['OBJECTID', 'postalCode', 'PO_NAME', 'STATE', 'borough', 'ST_FIPS',
       'CTY_FIPS', 'BLDGpostalCode', 'Shape_Leng', 'Shape_Area', '@id',
       'geometry'],
      dtype='object')

In [35]:
import geopandas as gpd
from shapely.geometry import Point

# 1. Convert df_crashes to GeoDataFrame
crashes_gdf = gpd.GeoDataFrame(
    df_crashes,
    geometry=gpd.points_from_xy(df_crashes['LONGITUDE'], df_crashes['LATITUDE']),
    crs="EPSG:4326"
)

# 2. Spatial join to fill BOROUGH
crashes_with_borough = gpd.sjoin(
    crashes_gdf,
    boroughs[['BoroName', 'geometry']],
    how='left',
    predicate='within'
)
crashes_with_borough_unique = crashes_with_borough[~crashes_with_borough.index.duplicated(keep='first')]
df_crashes['BOROUGH'] = df_crashes['BOROUGH'].combine_first(crashes_with_borough_unique['BoroName'])

# 3. Spatial join to fill ZIP CODE
crashes_with_zip = gpd.sjoin(
    crashes_gdf,
    zipcodes[['postalCode', 'geometry']],
    how='left',
    predicate='within',
    lsuffix='crash',  # avoids overlapping columns
    rsuffix='zip'
)

# The ZIP column is now likely named 'postalCode_zip'
zip_col_name = [col for col in crashes_with_zip.columns if 'postalCode' in col][0]

# Remove duplicate indices
crashes_with_zip_unique = crashes_with_zip[~crashes_with_zip.index.duplicated(keep='first')]

# Fill missing ZIP CODE
df_crashes['ZIP CODE'] = df_crashes['ZIP CODE'].combine_first(crashes_with_zip_unique[zip_col_name])

# 4. Check remaining missing
print("Missing BOROUGH:", df_crashes['BOROUGH'].isna().sum())
print("Missing ZIP CODE:", df_crashes['ZIP CODE'].isna().sum())

Missing BOROUGH: 134851
Missing ZIP CODE: 137452

In [36]:
street_cols = ["ON STREET NAME", "CROSS STREET NAME", "OFF STREET NAME"]

df_crashes[street_cols]

                   ON STREET NAME CROSS STREET NAME        OFF STREET NAME
0           WHITESTONE EXPRESSWAY         20 AVENUE                    NaN
1         QUEENSBORO BRIDGE UPPER               NaN                    NaN
3              THROGS NECK BRIDGE               NaN                    NaN
4                 BROOKLYN BRIDGE               NaN                    NaN
6        HUTCHINSON RIVER PARKWAY               NaN                    NaN
...                           ...               ...                    ...
2219650                       NaN               NaN      1034      E 96 ST
2219651                  AVENUE B            E 6 ST                    NaN
2219652                  E 106 ST             1 AVE                    NaN
2219653              TOMPKINS AVE     LAFAYETTE AVE                    NaN
2219656                       NaN               NaN  13-17     JACKSON AVE

[1468703 rows x 3 columns]

In [37]:
import pandas as pd

street_cols = ['ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME']


def clean_street_name(name):
    if pd.isna(name):
        return None
    name = str(name).upper().strip()
    name = name.replace('.', '')
    name = name.replace('-', ' ')
    name = ' '.join(name.split())          # Collapse multiple spaces into one

    # Expand common abbreviations
    replacements = {
        ' ST ': ' STREET ',
        ' AV ': ' AVENUE ',
        ' AVE ': ' AVENUE ',
        ' BLVD ': ' BOULEVARD ',
        ' RD ': ' ROAD ',
        ' PKWY ': ' PARKWAY ',
        ' PL ': ' PLACE ',
        ' TER ': ' TERRACE ',
        ' HWY ': ' HIGHWAY ',
        ' LN ': ' LANE ',
        ' SQ ': ' SQUARE ',
        ' DR ': ' DRIVE ',
        ' CTR ': ' CENTER ',
        ' LOOP ': ' LOOP ',
        ' CIR ': ' CIRCLE '
    }

    for k, v in replacements.items():
        name = name.replace(k, v)

    return name


for col in street_cols:
    df_crashes[col] = df_crashes[col].apply(clean_street_name)


df_crashes[street_cols].head(10)

                ON STREET NAME   CROSS STREET NAME     OFF STREET NAME
0        WHITESTONE EXPRESSWAY           20 AVENUE                None
1      QUEENSBORO BRIDGE UPPER                None                None
3           THROGS NECK BRIDGE                None                None
4              BROOKLYN BRIDGE                None                None
6     HUTCHINSON RIVER PARKWAY                None                None
7               WEST 35 STREET  HENRY HUDSON RIVER                None
12  BROOKLYN QUEENS EXPRESSWAY                None                None
14                        None                None  2047 PITKIN AVENUE
15                    3 AVENUE      EAST 43 STREET                None
16               MYRTLE AVENUE                None                None

In [38]:
# Function to combine streets into one address string
def build_address(row):
    parts = []
    if row['ON STREET NAME']:
        parts.append(row['ON STREET NAME'])
    if row['CROSS STREET NAME']:
        parts.append('AND ' + row['CROSS STREET NAME'])
    if row['OFF STREET NAME']:
        parts.append(row['OFF STREET NAME'])
    return ', '.join(parts) if parts else None

df_crashes['FULL ADDRESS'] = df_crashes.apply(build_address, axis=1)

# Optional: append city and state to help geocoding
df_crashes['FULL ADDRESS'] = df_crashes['FULL ADDRESS'].apply(
    lambda x: f"{x}, New York, NY" if x else None
)

df_crashes[['ON STREET NAME','CROSS STREET NAME','OFF STREET NAME','FULL ADDRESS']].head(10)

,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,FULL ADDRESS
0,WHITESTONE EXPRESSWAY,20 AVENUE,None,"WHITESTONE EXPRESSWAY, AND 20 AVENUE, New York..."
1,QUEENSBORO BRIDGE UPPER,None,None,"QUEENSBORO BRIDGE UPPER, New York, NY"
3,THROGS NECK BRIDGE,None,None,"THROGS NECK BRIDGE, New York, NY"
4,BROOKLYN BRIDGE,None,None,"BROOKLYN BRIDGE, New York, NY"
6,HUTCHINSON RIVER PARKWAY,None,None,"HUTCHINSON RIVER PARKWAY, New York, NY"
7,WEST 35 STREET,HENRY HUDSON RIVER,None,"WEST 35 STREET, AND HENRY HUDSON RIVER, New Yo..."
12,BROOKLYN QUEENS EXPRESSWAY,None,None,"BROOKLYN QUEENS EXPRESSWAY, New York, NY"
14,None,None,2047 PITKIN AVENUE,"2047 PITKIN AVENUE, New York, NY"
15,3 AVENUE,EAST 43 STREET,None,"3 AVENUE, AND EAST 43 STREET, New York, NY"
16,MYRTLE AVENUE,None,None,"MYRTLE AVENUE, New York, NY"

In [ ]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import pandas as pd

# 1. Initialize Nominatim geocoder
geolocator = Nominatim(user_agent="nyc_crash_geocoder")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=2)  # respect OSM usage policy

# 2. Apply geocoding (start with a sample to test)
df_sample = df_crashes[df_crashes['FULL ADDRESS'].notna()].sample(100)  # small sample
df_sample['location'] = df_sample['FULL ADDRESS'].apply(geocode)

# 3. Extract lat and lon
df_sample['LATITUDE_GEOCODE'] = df_sample['location'].apply(lambda loc: loc.latitude if loc else None)
df_sample['LONGITUDE_GEOCODE'] = df_sample['location'].apply(lambda loc: loc.longitude if loc else None)

df_sample[['FULL ADDRESS','LATITUDE_GEOCODE','LONGITUDE_GEOCODE']].head()

KeyboardInterrupt:

In [30]:
df_crashes.head(20)

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,...,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,ALL_CONTRIBUTING_FACTORS,ALL_CONTRIBUTING_FACTORS_STR,CRASH_DATETIME,FULL ADDRESS
0,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,None,2.0,0.0,0,...,4455765,Sedan,Sedan,Other,Other,Other,[aggressive driving],aggressive driving,2021-09-11 02:39:00,"WHITESTONE EXPRESSWAY, AND 20 AVENUE, New York..."
1,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,None,None,1.0,0.0,0,...,4513547,Sedan,Other,Other,Other,Other,[slippery pavement],slippery pavement,2022-03-26 11:45:00,"QUEENSBORO BRIDGE UPPER, New York, NY"
3,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,None,None,0.0,0.0,0,...,4541903,Sedan,Pickup Truck,Other,Other,Other,[tailgating],tailgating,2022-06-29 06:55:00,"THROGS NECK BRIDGE, New York, NY"
4,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,None,None,0.0,0.0,0,...,4566131,SUV/Station Wagon,Other,Other,Other,Other,[tailgating],tailgating,2022-09-21 13:21:00,"BROOKLYN BRIDGE, New York, NY"
6,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,None,None,0.0,0.0,0,...,4675709,Sedan,SUV/Station Wagon,Other,Other,Other,"[tailgating, driver inattention]","tailgating, driver inattention",2023-11-01 07:12:00,"HUTCHINSON RIVER PARKWAY, New York, NY"
7,NaN,NaN,NaN,NaN,WEST 35 STREET,HENRY HUDSON RIVER,None,0.0,0.0,0,...,4675769,Sedan,Other,Other,Other,Other,[failure to yield],failure to yield,2023-11-01 08:01:00,"WEST 35 STREET, AND HENRY HUDSON RIVER, New Yo..."
12,Brooklyn,11211,40.709183,-73.956825,BROOKLYN QUEENS EXPRESSWAY,None,None,0.0,0.0,0,...,4486555,Sedan,Truck/Commercial,Other,Other,Other,[tailgating],tailgating,2021-12-14 17:05:00,"BROOKLYN QUEENS EXPRESSWAY, New York, NY"
14,BROOKLYN,11207,40.671720,-73.897100,None,None,2047 PITKIN AVENUE,0.0,0.0,0,...,4487074,Sedan,Other,Other,Other,Other,[driver inexperience],driver inexperience,2021-12-14 21:10:00,"2047 PITKIN AVENUE, New York, NY"
15,MANHATTAN,10017,40.751440,-73.973970,3 AVENUE,EAST 43 STREET,None,0.0,0.0,0,...,4486519,Sedan,SUV/Station Wagon,Other,Other,Other,[tailgating],tailgating,2021-12-14 14:58:00,"3 AVENUE, AND EAST 43 STREET, New York, NY"
16,Queens,11385,40.701275,-73.888870,MYRTLE AVENUE,None,None,0.0,0.0,0,...,4486934,SUV/Station Wagon,Other,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-13 00:34:00,"MYRTLE AVENUE, New York, NY"
17,QUEENS,11413,40.675884,-73.755770,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,None,0.0,0.0,0,...,4487127,Sedan,SUV/Station Wagon,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-14 16:50:00,"SPRINGFIELD BOULEVARD, AND EAST GATE PLAZA, Ne..."
18,NaN,NaN,NaN,NaN,BROADWAY,WEST 80 STREET WEST 81 STREET,None,0.0,0.0,0,...,4486634,SUV/Station Wagon,Sedan,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-14 08:30:00,"BROADWAY, AND WEST 80 STREET WEST 81 STREET, N..."
19,Brooklyn,11214,40.596620,-74.002310,BELT PARKWAY,None,None,0.0,0.0,0,...,4486564,Sedan,Other,Other,Other,Other,[speeding],speeding,2021-12-14 00:59:00,"BELT PARKWAY, New York, NY"
20,QUEENS,11434,40.666840,-73.789410,NORTH CONDUIT AVENUE,150 STREET,None,2.0,0.0,0,...,4486635,Sedan,Sedan,Other,Other,Other,[reaction to other vehicle],reaction to other vehicle,2021-12-14 23:10:00,"NORTH CONDUIT AVENUE, AND 150 STREET, New York..."
21,BROOKLYN,11217,40.681580,-73.974630,None,None,480 DEAN STREET,0.0,0.0,0,...,4486604,Other,SUV/Station Wagon,Other,Other,Other,[tailgating],tailgating,2021-12-14 17:58:00,"480 DEAN STREET, New York, NY"
22,BROOKLYN,11226,40.650680,-73.958810,None,None,878 FLATBUSH AVENUE,4.0,0.0,0,...,4486991,Sedan,Other,Other,Other,Other,[vehicle defect],vehicle defect,2021-12-14 20:03:00,"878 FLATBUSH AVENUE, New York, NY"
23,NaN,NaN,NaN,NaN,MEEKER AVENUE,LORIMER STREET,None,3.0,0.0,0,...,4486284,SUV/Station Wagon,SUV/Station Wagon,Other,Other,Other,[traffic violation],traffic violation,2021-12-14 01:28:00,"MEEKER AVENUE, AND LORIMER STREET, New York, NY"
25,Queens,11357,40.783268,-73.824850,WHITESTONE EXPRESSWAY,None,None,0.0,0.0,0,...,4486537,SUV/Station Wagon,Sedan,Sedan,Other,Other,[tailgating],tailgating,2021-12-14 14:30:00,"WHITESTONE EXPRESSWAY, New York, NY"
26,MANHATTAN,10001,40.748917,-73.993546,None,None,232 WEST 30 STREET,0.0,0.0,0,...,4486905,SUV/Station Wagon,Other,Other,Other,Other,[tailgating],tailgating,2021-12-11 04:45:00,"232 WEST 30 STREET, New York, NY"
27,Queens,11364,40.744644,-73.770410,LONG ISLAND EXPRESSWAY,None,None,1.0,0.0,0,...,4487122,SUV/Station Wagon,SUV/Station Wagon,Other,Other,Other,"[vehicle defect, vehicle defect]","vehicle defect, vehicle defect",2021-12-14 05:46:00,"LONG ISLAND EXPRESSWAY, New York, NY"

In [32]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import time
import os
import geopandas as gpd
from shapely.geometry import Point
from google.colab import drive

# -----------------------------
# 0. Mount Google Drive (Colab)
# -----------------------------
drive.mount('/content/drive')

SAVE_DIR = '/content/drive/MyDrive/geocoding_batches'
FINAL_SAVE = '/content/drive/MyDrive/df_crashes_geocoded.csv'
os.makedirs(SAVE_DIR, exist_ok=True)

# -----------------------------
# 1. Initialize geocoder
# -----------------------------
geolocator = Nominatim(user_agent="nyc_crash_geocoder")
geocode = RateLimiter(
    geolocator.geocode,
    min_delay_seconds=1,
    max_retries=2,
    error_wait_seconds=2.0,
    swallow_exceptions=True
)

# -----------------------------
# 2. Filter rows that need geocoding
# -----------------------------
df_to_geocode = df_crashes[
    df_crashes['LATITUDE'].isna() | df_crashes['LONGITUDE'].isna()
].copy()

df_to_geocode = df_to_geocode[df_to_geocode['FULL ADDRESS'].notna()]
print(f"Total rows to geocode: {len(df_to_geocode):,}")

# -----------------------------
# 3. Resume support
# -----------------------------
processed_batches = [f for f in os.listdir(SAVE_DIR) if f.startswith("geocoded_batch_")]
start_batch = len(processed_batches)
print(f"Resuming from batch {start_batch} (found {len(processed_batches)} saved files).")

# -----------------------------
# 4. Batch geocoding loop
# -----------------------------
BATCH_SIZE = 500
num_batches = (len(df_to_geocode) + BATCH_SIZE - 1) // BATCH_SIZE

for batch_num in range(start_batch, num_batches):
    batch_file = os.path.join(SAVE_DIR, f'geocoded_batch_{batch_num}.csv')

    start_idx = batch_num * BATCH_SIZE
    end_idx = min((batch_num + 1) * BATCH_SIZE, len(df_to_geocode))
    df_batch = df_to_geocode.iloc[start_idx:end_idx].copy()

    if df_batch.empty:
        continue

    print(f"\nðŸ“¦ Processing batch {batch_num+1}/{num_batches} ({len(df_batch)} rows)...")

    # Step-by-step geocoding to handle errors better
    latitudes, longitudes = [], []
    for i, address in enumerate(df_batch['FULL ADDRESS']):
        try:
            location = geocode(address)
            lat = location.latitude if location else None
            lon = location.longitude if location else None
        except Exception:
            lat, lon = None, None

        latitudes.append(lat)
        longitudes.append(lon)

        # Save partial every 50 addresses
        if (i + 1) % 50 == 0:
            temp_df = pd.DataFrame({
                'FULL ADDRESS': df_batch['FULL ADDRESS'].iloc[:i+1],
                'LATITUDE_GEOCODE': latitudes,
                'LONGITUDE_GEOCODE': longitudes
            })
            temp_path = os.path.join(SAVE_DIR, f'batch_{batch_num}_partial.csv')
            temp_df.to_csv(temp_path, index=False)
            print(f"ðŸ’¾ Saved partial {i+1}/{len(df_batch)} for batch {batch_num+1}")

    # Save batch results
    df_batch['LATITUDE_GEOCODE'] = latitudes
    df_batch['LONGITUDE_GEOCODE'] = longitudes
    df_batch[['FULL ADDRESS','LATITUDE_GEOCODE','LONGITUDE_GEOCODE']].to_csv(batch_file, index=False)
    print(f"âœ… Saved full batch {batch_num+1} â†’ {batch_file}")

    # Merge into main df_crashes
    df_crashes.loc[df_batch.index, 'LATITUDE'] = df_crashes.loc[df_batch.index, 'LATITUDE'].combine_first(df_batch['LATITUDE_GEOCODE'])
    df_crashes.loc[df_batch.index, 'LONGITUDE'] = df_crashes.loc[df_batch.index, 'LONGITUDE'].combine_first(df_batch['LONGITUDE_GEOCODE'])

    # Save progress to disk
    df_crashes.to_csv(FINAL_SAVE, index=False)
    print(f"ðŸ“‚ Progress saved to {FINAL_SAVE}")

    time.sleep(1)

print("\nðŸŽ‰ All batches processed successfully.")

# -----------------------------
# 5. Spatial join: fill borough + zip
# -----------------------------
print("\nðŸ§­ Performing spatial join to infer BOROUGH and ZIP CODE...")

# Convert to GeoDataFrame
crashes_gdf = gpd.GeoDataFrame(
    df_crashes.dropna(subset=['LATITUDE', 'LONGITUDE']),
    geometry=gpd.points_from_xy(df_crashes['LONGITUDE'], df_crashes['LATITUDE']),
    crs="EPSG:4326"
)

# Fill missing BOROUGH
crashes_with_borough = gpd.sjoin(
    crashes_gdf, boroughs[['BoroName', 'geometry']], how='left', predicate='within'
)
df_crashes['BOROUGH'] = df_crashes['BOROUGH'].combine_first(
    crashes_with_borough.set_index(crashes_with_borough.index)['BoroName']
)

# Fill missing ZIP CODE
crashes_with_zip = gpd.sjoin(
    crashes_gdf, zipcodes[['postalCode', 'geometry']], how='left', predicate='within'
)
df_crashes['ZIP CODE'] = df_crashes['ZIP CODE'].combine_first(
    crashes_with_zip.set_index(crashes_with_zip.index)['postalCode']
)

# -----------------------------
# 6. Final save
# -----------------------------
df_crashes.to_csv(FINAL_SAVE, index=False)
print("âœ… Final dataset saved:", FINAL_SAVE)
print("Remaining missing LAT/LON:", df_crashes[['LATITUDE','LONGITUDE']].isna().sum().to_dict())
print("Remaining missing BOROUGH:", df_crashes['BOROUGH'].isna().sum())
print("Remaining missing ZIP CODE:", df_crashes['ZIP CODE'].isna().sum())

Mounted at /content/drive
Total rows to geocode: 136,129
Resuming from batch 63 (found 63 saved files).

ðŸ“¦ Processing batch 64/273 (500 rows)...

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=SHORE+PARKWAY%2C+AND+26+AVENUE%2C+New+York%2C+NY&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=SHORE+PARKWAY%2C+AND+26+AVENUE%2C+New+York%2C+NY&format=json&limit=1
WARNING:geopy:RateLimiter caught an error, retrying (0/2 tries). Called with (*('SHORE PARKWAY, AND 26 AVENUE, New York, NY',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 534, in _make_request
    response = conn.getresponse()
               ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connection.py", line 565, in getresponse
    httplib_response = super().getresponse()
                       ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/http/client.py", line 1430, in getresponse
    response.begin()
  File "/usr/lib/python3.12/http/client.py", line 331, in begin
    version, status, reason = self._read_status()
                              ^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/http/client.py", line 292, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/socket.py", line 720, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/ssl.py", line 1251, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/ssl.py", line 1103, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 787, in urlopen
    response = self._make_request(
               ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 536, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 367, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/requests/adapters.py", line 667, in send
    resp = conn.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 841, in urlopen
    retries = retries.increment(
              ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/util/retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=SHORE+PARKWAY%2C+AND+26+AVENUE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/geopy/adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/adapters.py", line 700, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=SHORE+PARKWAY%2C+AND+26+AVENUE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/geopy/extra/rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
    ^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/extra/rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/geocoders/nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/geocoders/base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=SHORE+PARKWAY%2C+AND+26+AVENUE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

KeyboardInterrupt:

In [39]:
# Merge geocoded batches back, infer borough/zip from lat/lon, dedupe, save final
import pandas as pd
import os
import geopandas as gpd
from shapely.geometry import Point

SAVE_DIR = '/content/drive/MyDrive/geocoding_batches'
FINAL_SAVE = '/content/drive/MyDrive/df_crashes_geocoded_merged.csv'
FINAL_CLEAN = '/content/drive/MyDrive/df_crashes_geocoded_clean.csv'
FAILED_SAVE = '/content/drive/MyDrive/failed_geocodes.csv'

# 0. Quick checks
print("Original df_crashes shape:", df_crashes.shape)
print("Looking for batch files in:", SAVE_DIR)
batch_files = sorted([os.path.join(SAVE_DIR, f) for f in os.listdir(SAVE_DIR) if f.startswith('geocoded_batch_') or f.startswith('batch_')])
print(f"Found {len(batch_files)} batch files.")

if len(batch_files) == 0:
    raise SystemExit("No geocoded batch files found. Stop and check SAVE_DIR.")

# 1. Load & normalize batch files into a single DataFrame
batches = []
for f in batch_files:
    try:
        dfb = pd.read_csv(f)
    except Exception as e:
        print("WARNING: failed to read", f, ":", e)
        continue

    # Normalize possible column names
    # We want to end up with: ['index' (optional), 'COLLISION_ID' (optional), 'FULL ADDRESS' (optional), 'LATITUDE_GEOCODE', 'LONGITUDE_GEOCODE']
    colmap = {c: c.strip() for c in dfb.columns}
    dfb.rename(columns=colmap, inplace=True)

    # Some partial files use 'LATITUDE_GEOCODE' etc, others 'LATITUDE_GEOCODE.1' â€” find best matches
    lat_col = None
    lon_col = None
    for candidate in ['LATITUDE_GEOCODE','LATITUDE_GEOCODE.1','LATITUDE_GEOCODE ' ,'LAT','latitude','lat']:
        if candidate in dfb.columns:
            lat_col = candidate
            break
    for candidate in ['LONGITUDE_GEOCODE','LONGITUDE_GEOCODE.1','LONGITUDE_GEOCODE ','LON','longitude','lon']:
        if candidate in dfb.columns:
            lon_col = candidate
            break

    # If batch saved only 'LATITUDE'/'LONGITUDE' use them
    if lat_col is None:
        for candidate in ['LATITUDE','latitude','lat']:
            if candidate in dfb.columns:
                lat_col = candidate; break
    if lon_col is None:
        for candidate in ['LONGITUDE','longitude','lon']:
            if candidate in dfb.columns:
                lon_col = candidate; break

    # Identify id/index columns if present
    idx_col = None
    for candidate in ['index','Unnamed: 0','INDEX']:
        if candidate in dfb.columns:
            idx_col = candidate
            break

    id_col = None
    for candidate in ['COLLISION_ID','collision_id','collision id','collisionid']:
        if candidate in dfb.columns:
            id_col = candidate
            break

    addr_col = None
    for candidate in ['FULL ADDRESS','FULL_ADDRESS','FULLADDRESS','FULL ADDRESS ' ,'FULL_ADDRESS ' ,'FULLADDRESS ' ,'address','ADDRESS']:
        if candidate in dfb.columns:
            addr_col = candidate
            break

    # rename to standard columns
    rename_map = {}
    if lat_col: rename_map[lat_col] = 'LATITUDE_GEOCODE'
    if lon_col: rename_map[lon_col] = 'LONGITUDE_GEOCODE'
    if idx_col: rename_map[idx_col] = 'orig_index'
    if id_col: rename_map[id_col] = 'COLLISION_ID'
    if addr_col: rename_map[addr_col] = 'FULL ADDRESS'

    dfb = dfb.rename(columns=rename_map)
    # Keep only necessary columns
    keep_cols = [c for c in ['orig_index','COLLISION_ID','FULL ADDRESS','LATITUDE_GEOCODE','LONGITUDE_GEOCODE'] if c in dfb.columns]
    dfb = dfb[keep_cols].copy()

    # If orig_index exists but is read as float, make int where possible
    if 'orig_index' in dfb.columns:
        try:
            dfb['orig_index'] = pd.to_numeric(dfb['orig_index'], errors='coerce').astype('Int64')
        except:
            pass

    batches.append(dfb)

if not batches:
    raise SystemExit("No valid batches loaded after normalization.")

df_geocoded = pd.concat(batches, ignore_index=True, sort=False)
print("Concatenated geocoded rows:", len(df_geocoded))
print("Columns in geocoded df:", df_geocoded.columns.tolist())

# 2. Prepare a mapping to update df_crashes
# Priority updating strategy:
# 1) If batch stored original row index ('orig_index') â€” use that (most reliable)
# 2) Else if batch has 'COLLISION_ID' â€” use that
# 3) Else fallback to 'FULL ADDRESS' (take first lat/lon per address)

# Create Series placeholders for filling
lat_series = pd.Series(index=df_crashes.index, dtype='float64')
lon_series = pd.Series(index=df_crashes.index, dtype='float64')

# 2.a Use orig_index if present
if 'orig_index' in df_geocoded.columns:
    tmp = df_geocoded.dropna(subset=['orig_index'])
    # convert to int (drop NaN)
    tmp = tmp[tmp['orig_index'].notna()]
    tmp_idx = tmp['orig_index'].astype(int)
    # align length
    tmp = tmp.set_index(tmp_idx.index)  # keep index safe
    # create DataFrame mapped by orig_index -> lat/lon
    mapping = pd.DataFrame({
        'LATITUDE_GEOCODE': tmp['LATITUDE_GEOCODE'].values,
        'LONGITUDE_GEOCODE': tmp['LONGITUDE_GEOCODE'].values
    }, index=tmp_idx.values)
    # update series where index exists
    common_idx = mapping.index.intersection(df_crashes.index)
    lat_series.loc[common_idx] = mapping.loc[common_idx, 'LATITUDE_GEOCODE']
    lon_series.loc[common_idx] = mapping.loc[common_idx, 'LONGITUDE_GEOCODE']
    print("Mapped using orig_index:", len(common_idx))

# 2.b Use COLLISION_ID mapping next (only for rows still missing)
if 'COLLISION_ID' in df_geocoded.columns:
    # create first-lat-lon per COLLISION_ID (in case of duplicates)
    tmp2 = df_geocoded.dropna(subset=['COLLISION_ID'])
    tmp2 = tmp2[ tmp2['COLLISION_ID'].notna() ]
    tmp2['COLLISION_ID'] = tmp2['COLLISION_ID'].astype(str)
    first_by_id = tmp2.groupby('COLLISION_ID', as_index=False).first()[['COLLISION_ID','LATITUDE_GEOCODE','LONGITUDE_GEOCODE']]
    # make mapping dict
    lat_map = first_by_id.set_index('COLLISION_ID')['LATITUDE_GEOCODE'].to_dict()
    lon_map = first_by_id.set_index('COLLISION_ID')['LONGITUDE_GEOCODE'].to_dict()
    # apply where df_crashes still missing coords
    mask_missing = df_crashes['LATITUDE'].isna() | df_crashes['LONGITUDE'].isna()
    if 'COLLISION_ID' in df_crashes.columns:
        # convert to string to match mapping keys
        cid_series = df_crashes.loc[mask_missing,'COLLISION_ID'].astype(str)
        fill_lat = cid_series.map(lat_map)
        fill_lon = cid_series.map(lon_map)
        lat_series.loc[fill_lat[fill_lat.notna()].index] = fill_lat[fill_lat.notna()].values
        lon_series.loc[fill_lon[fill_lon.notna()].index] = fill_lon[fill_lon.notna()].values
        print("Mapped using COLLISION_ID:", fill_lat.notna().sum())

# 2.c Use FULL ADDRESS fallback (first lat/lon per address)
if 'FULL ADDRESS' in df_geocoded.columns:
    tmp3 = df_geocoded.dropna(subset=['FULL ADDRESS'])
    tmp3 = tmp3[tmp3['FULL ADDRESS'].notna()]
    # normalize address strings for matching
    tmp3['FULL ADDRESS NORM'] = tmp3['FULL ADDRESS'].str.strip().str.upper()
    first_by_addr = tmp3.groupby('FULL ADDRESS NORM', as_index=False).first()[['FULL ADDRESS NORM','LATITUDE_GEOCODE','LONGITUDE_GEOCODE']]
    lat_map_addr = first_by_addr.set_index('FULL ADDRESS NORM')['LATITUDE_GEOCODE'].to_dict()
    lon_map_addr = first_by_addr.set_index('FULL ADDRESS NORM')['LONGITUDE_GEOCODE'].to_dict()

    # select rows still missing in df_crashes
    mask_missing = df_crashes['LATITUDE'].isna() | df_crashes['LONGITUDE'].isna()
    addr_series = df_crashes.loc[mask_missing, 'FULL ADDRESS'].astype(str).str.strip().str.upper()
    fill_lat = addr_series.map(lat_map_addr)
    fill_lon = addr_series.map(lon_map_addr)
    lat_series.loc[fill_lat[fill_lat.notna()].index] = fill_lat[fill_lat.notna()].values
    lon_series.loc[fill_lon[fill_lon.notna()].index] = fill_lon[fill_lon.notna()].values
    print("Mapped using FULL ADDRESS fallback:", fill_lat.notna().sum())

# 3. Apply found lat/lon into df_crashes (only where df_crashes missing)
df_crashes['LATITUDE'] = df_crashes['LATITUDE'].combine_first(lat_series)
df_crashes['LONGITUDE'] = df_crashes['LONGITUDE'].combine_first(lon_series)

print("After merging batches, missing LAT:", df_crashes['LATITUDE'].isna().sum(), "missing LON:", df_crashes['LONGITUDE'].isna().sum())

# 4. Build GeoDataFrame from rows with lat/lon for spatial join
filled = df_crashes.dropna(subset=['LATITUDE','LONGITUDE']).copy()
print("Rows with coordinates for spatial join:", len(filled))

crashes_gdf = gpd.GeoDataFrame(
    filled,
    geometry=gpd.points_from_xy(filled['LONGITUDE'], filled['LATITUDE']),
    crs="EPSG:4326"
)

# 5. Spatial join to assign BOROUGH (use geometry column in boroughs DataFrame)
# Make sure boroughs and zipcodes GeoDataFrames are loaded and in EPSG:4326
if boroughs.crs != crashes_gdf.crs:
    boroughs = boroughs.to_crs(crashes_gdf.crs)
if zipcodes.crs != crashes_gdf.crs:
    zipcodes = zipcodes.to_crs(crashes_gdf.crs)

# perform sjoin; predicate='within' (geopandas >=0.10)
crashes_with_borough = gpd.sjoin(crashes_gdf, boroughs[['BoroName','geometry']], how='left', predicate='within')
# combine_back: set index = original index and then combine_first
crashes_with_borough_unique = crashes_with_borough[~crashes_with_borough.index.duplicated(keep='first')]
df_crashes['BOROUGH'] = df_crashes['BOROUGH'].combine_first(crashes_with_borough_unique['BoroName'])

# 6. Spatial join for ZIP code (postalCode column name may differ - adapt)
# Find postal code column name in zipcodes
zip_code_col = None
for c in zipcodes.columns:
    if 'postal' in c.lower() or 'zcta' in c.lower() or 'zip' in c.lower():
        zip_code_col = c
        break
if zip_code_col is None:
    raise SystemExit("Could not find ZIP/postal column in zipcodes GeoDataFrame. Check zipcodes.columns:", zipcodes.columns)

crashes_with_zip = gpd.sjoin(crashes_gdf, zipcodes[[zip_code_col,'geometry']], how='left', predicate='within')
crashes_with_zip_unique = crashes_with_zip[~crashes_with_zip.index.duplicated(keep='first')]
df_crashes['ZIP CODE'] = df_crashes['ZIP CODE'].combine_first(crashes_with_zip_unique[zip_code_col])

print("After spatial imputation - Missing BOROUGH:", df_crashes['BOROUGH'].isna().sum(), "Missing ZIP CODE:", df_crashes['ZIP CODE'].isna().sum())

# 7. Remove duplicates by COLLISION_ID if exists
if 'COLLISION_ID' in df_crashes.columns:
    before = len(df_crashes)
    df_crashes = df_crashes.drop_duplicates(subset='COLLISION_ID', keep='first')
    print(f"Removed {before - len(df_crashes):,} duplicate rows based on COLLISION_ID.")
else:
    print("No COLLISION_ID column found; skipping duplicates removal.")

# 8. Save intermediate artifacts
df_crashes.to_csv(FINAL_SAVE, index=False)
print("Saved merged dataset to:", FINAL_SAVE)

# Save cleaned (drop rows without coordinates) if you want a visualization-ready copy
df_final_clean = df_crashes.dropna(subset=['LATITUDE','LONGITUDE']).copy()
df_final_clean.to_csv(FINAL_CLEAN, index=False)
print("Saved cleaned (coords-only) dataset to:", FINAL_CLEAN)

# Save unresolved rows for manual review
failed = df_crashes[df_crashes['LATITUDE'].isna() | df_crashes['LONGITUDE'].isna()].copy()
failed.to_csv(FAILED_SAVE, index=False)
print("Saved failed/unresolved addresses to:", FAILED_SAVE)

# Summary
print("\nFINAL SUMMARY:")
print("Total rows in final df_crashes:", len(df_crashes))
print("Rows with coordinates (visualization-ready):", len(df_final_clean))
print("Unresolved rows saved:", len(failed))

Original df_crashes shape: (1468703, 28)
Looking for batch files in: /content/drive/MyDrive/geocoding_batches
Found 127 batch files.
Concatenated geocoded rows: 63450
Columns in geocoded df: ['FULL ADDRESS', 'LATITUDE_GEOCODE', 'LONGITUDE_GEOCODE']
Mapped using FULL ADDRESS fallback: 28510
After merging batches, missing LAT: 126185 missing LON: 126185
Rows with coordinates for spatial join: 1342518
After spatial imputation - Missing BOROUGH: 116023 Missing ZIP CODE: 118627
Removed 0 duplicate rows based on COLLISION_ID.
Saved merged dataset to: /content/drive/MyDrive/df_crashes_geocoded_merged.csv
Saved cleaned (coords-only) dataset to: /content/drive/MyDrive/df_crashes_geocoded_clean.csv
Saved failed/unresolved addresses to: /content/drive/MyDrive/failed_geocodes.csv

FINAL SUMMARY:
Total rows in final df_crashes: 1468703
Rows with coordinates (visualization-ready): 1342518
Unresolved rows saved: 126185

In [40]:
missing_info = df_crashes[
    df_crashes['LATITUDE'].notna() &
    ((df_crashes['BOROUGH'].isna()) | (df_crashes['ZIP CODE'].isna()))
]

print(f"Rows with LAT/LON but missing BOROUGH or ZIP: {len(missing_info)}")

Rows with LAT/LON but missing BOROUGH or ZIP: 18079

In [41]:
missing_info[['LATITUDE','LONGITUDE','BOROUGH','ZIP CODE']].head(20)

      LATITUDE  LONGITUDE    BOROUGH ZIP CODE
3    40.795519 -73.793503        NaN      NaN
4    40.705750 -73.996276        NaN      NaN
38   41.368497 -73.663054        NaN      NaN
46   40.795519 -73.793503        NaN      NaN
49   42.927186 -76.631113        NaN      NaN
58    0.000000   0.000000        NaN      NaN
142  40.757668 -73.959150        NaN      NaN
161  40.606336 -74.045444        NaN      NaN
223   0.000000   0.000000        NaN      NaN
265  40.679344 -73.859535     Queens      NaN
279  40.804585 -73.947820  Manhattan      NaN
412  40.765550 -73.839110     Queens      NaN
482  40.755516 -73.961105        NaN    10022
548   0.000000   0.000000        NaN      NaN
749  40.802050 -73.829747        NaN      NaN
759  40.851555 -73.952446        NaN      NaN
772   0.000000   0.000000        NaN      NaN
798  40.795519 -73.793503        NaN      NaN
848  40.692922 -74.012265        NaN      NaN
858  40.802050 -73.829747        NaN      NaN

In [42]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
from google.colab import drive


drive.mount('/content/drive')


CLEAN_PATH = '/content/drive/MyDrive/df_crashes_geocoded_clean.csv'
df_clean = pd.read_csv(CLEAN_PATH)

print("Loaded df_clean shape:", df_clean.shape)
print(df_clean.head())
print(df_clean[['LATITUDE','LONGITUDE','BOROUGH','ZIP CODE']].info())


df_clean = df_clean[~((df_clean['LATITUDE']==0) & (df_clean['LONGITUDE']==0))]


df_clean = df_clean.reset_index(drop=True)


missing_info = df_clean[
    df_clean['LATITUDE'].notna() &
    ((df_clean['BOROUGH'].isna()) | (df_clean['ZIP CODE'].isna()))
]
print(f"Rows with LAT/LON but missing BOROUGH or ZIP: {len(missing_info)}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/tmp/ipython-input-1727095491.py:12: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_clean = pd.read_csv(CLEAN_PATH)

Loaded df_clean shape: (1342518, 28)
     BOROUGH ZIP CODE   LATITUDE  LONGITUDE              ON STREET NAME  \
0  Manhattan  10044.0  40.757010 -73.954730     QUEENSBORO BRIDGE UPPER
1        NaN      NaN  40.795519 -73.793503          THROGS NECK BRIDGE
2        NaN      NaN  40.705750 -73.996276             BROOKLYN BRIDGE
3      Bronx  10461.0  40.849642 -73.836404    HUTCHINSON RIVER PARKWAY
4   Brooklyn  11211.0  40.709183 -73.956825  BROOKLYN QUEENS EXPRESSWAY

  CROSS STREET NAME OFF STREET NAME  NUMBER OF PERSONS INJURED  \
0               NaN             NaN                        1.0
1               NaN             NaN                        0.0
2               NaN             NaN                        0.0
3               NaN             NaN                        0.0
4               NaN             NaN                        0.0

   NUMBER OF PERSONS KILLED  NUMBER OF PEDESTRIANS INJURED  ...  COLLISION_ID  \
0                       0.0                              0  ...       4513547
1                       0.0                              0  ...       4541903
2                       0.0                              0  ...       4566131
3                       0.0                              0  ...       4675709
4                       0.0                              0  ...       4486555

   VEHICLE TYPE CODE 1  VEHICLE TYPE CODE 2  VEHICLE TYPE CODE 3  \
0                Sedan                Other                Other
1                Sedan         Pickup Truck                Other
2    SUV/Station Wagon                Other                Other
3                Sedan    SUV/Station Wagon                Other
4                Sedan     Truck/Commercial                Other

   VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5  \
0                Other               Other
1                Other               Other
2                Other               Other
3                Other               Other
4                Other               Other

               ALL_CONTRIBUTING_FACTORS    ALL_CONTRIBUTING_FACTORS_STR  \
0                 ['slippery pavement']               slippery pavement
1                        ['tailgating']                      tailgating
2                        ['tailgating']                      tailgating
3  ['tailgating', 'driver inattention']  tailgating, driver inattention
4                        ['tailgating']                      tailgating

        CRASH_DATETIME                              FULL ADDRESS
0  2022-03-26 11:45:00     QUEENSBORO BRIDGE UPPER, New York, NY
1  2022-06-29 06:55:00          THROGS NECK BRIDGE, New York, NY
2  2022-09-21 13:21:00             BROOKLYN BRIDGE, New York, NY
3  2023-11-01 07:12:00    HUTCHINSON RIVER PARKWAY, New York, NY
4  2021-12-14 17:05:00  BROOKLYN QUEENS EXPRESSWAY, New York, NY

[5 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1342518 entries, 0 to 1342517
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   LATITUDE   1342518 non-null  float64
 1   LONGITUDE  1342518 non-null  float64
 2   BOROUGH    1327410 non-null  object
 3   ZIP CODE   1324815 non-null  object
dtypes: float64(2), object(2)
memory usage: 41.0+ MB
None
Rows with LAT/LON but missing BOROUGH or ZIP: 17102

In [44]:
import geopandas as gpd
from shapely.geometry import Point
import pandas as pd


CLEAN_PATH = '/content/drive/MyDrive/df_crashes_geocoded_clean.csv'


df_clean = pd.read_csv(CLEAN_PATH)
print("Loaded df_clean shape:", df_clean.shape)


df_clean = df_clean[~((df_clean['LATITUDE'] == 0.0) & (df_clean['LONGITUDE'] == 0.0))].copy()
print("After removing 0,0 coords:", df_clean.shape)

/tmp/ipython-input-165949507.py:9: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_clean = pd.read_csv(CLEAN_PATH)

Loaded df_clean shape: (1342518, 28)
After removing 0,0 coords: (1337752, 28)

In [45]:
import geopandas as gpd
from shapely.geometry import Point
import pandas as pd

# Path to your cleaned CSV
CLEAN_PATH = '/content/drive/MyDrive/df_crashes_geocoded_clean.csv'

# Load the dataset
df_clean = pd.read_csv(CLEAN_PATH)
# Ensure the index is unique before proceeding
df_clean = df_clean.reset_index(drop=True)
print("Loaded df_clean shape:", df_clean.shape)

# 1ï¸âƒ£ Remove 0,0 coordinates
df_clean = df_clean[~((df_clean['LATITUDE'] == 0.0) & (df_clean['LONGITUDE'] == 0.0))].copy()
print("After removing 0,0 coords:", df_clean.shape)

# 2ï¸âƒ£ Convert to GeoDataFrame
gdf_clean = gpd.GeoDataFrame(
    df_clean,
    geometry=gpd.points_from_xy(df_clean['LONGITUDE'], df_clean['LATITUDE']),
    crs="EPSG:4326"
)

# Reproject to a projected CRS (meters) for accurate distance calculations
gdf_clean_proj = gdf_clean.to_crs(epsg=3857) # Use a projected version for spatial joins
boroughs_proj = boroughs.to_crs(epsg=3857)
zipcodes_proj = zipcodes.to_crs(epsg=3857)

# --- BOROUGH ---
# Perform sjoin for 'within' predicate
joined_boro_within = gpd.sjoin(gdf_clean_proj, boroughs_proj[['BoroName','geometry']], how='left', predicate='within')
# Drop duplicate indices from the sjoin result, keeping the first
joined_boro_within = joined_boro_within[~joined_boro_within.index.duplicated(keep='first')]

# Initialize a Series to store the final borough names, aligned with gdf_clean_proj's index
final_boroughs = pd.Series(index=gdf_clean_proj.index, dtype=object)
final_boroughs.update(joined_boro_within['BoroName']) # Update with 'within' results

# Identify remaining missing boroughs
missing_boro_idx = final_boroughs.isna()

if missing_boro_idx.any():
    print(f"Approximating {missing_boro_idx.sum()} BOROUGH values using nearest polygon...")
    gdf_to_approx = gdf_clean_proj.loc[missing_boro_idx] # Select only points still missing a borough
    if not gdf_to_approx.empty:
        nearest_boro = gpd.sjoin_nearest(
            gdf_to_approx,
            boroughs_proj[['BoroName','geometry']],
            how='left', max_distance=2000
        )
        # Drop duplicates for 'nearest' results as well
        nearest_boro = nearest_boro[~nearest_boro.index.duplicated(keep='first')]
        final_boroughs.update(nearest_boro['BoroName']) # Update final_boroughs

# --- ZIP CODE ---
joined_zip_within = gpd.sjoin(gdf_clean_proj, zipcodes_proj[['postalCode','geometry']], how='left', predicate='within')
joined_zip_within = joined_zip_within[~joined_zip_within.index.duplicated(keep='first')]

final_zipcodes = pd.Series(index=gdf_clean_proj.index, dtype=object)
final_zipcodes.update(joined_zip_within['postalCode'])

missing_zip_idx = final_zipcodes.isna()

if missing_zip_idx.any():
    print(f"Approximating {missing_zip_idx.sum()} ZIP CODE values using nearest polygon...")
    gdf_to_approx = gdf_clean_proj.loc[missing_zip_idx]
    if not gdf_to_approx.empty:
        nearest_zip = gpd.sjoin_nearest(
            gdf_to_approx,
            zipcodes_proj[['postalCode','geometry']],
            how='left', max_distance=2000
        )
        nearest_zip = nearest_zip[~nearest_zip.index.duplicated(keep='first')]
        final_zipcodes.update(nearest_zip['postalCode'])

# 5ï¸âƒ£ Assign back to df_clean
# Ensure assignment is done using the original index of df_clean
df_clean['BOROUGH'] = final_boroughs
df_clean['ZIP CODE'] = final_zipcodes

# 6ï¸âƒ£ Drop geometry column to save as regular DataFrame
# The original df_clean never had a 'geometry' column in this flow, so dropping it is not strictly necessary but harmless.
# If gdf_clean itself was modified directly, this line would be more critical.
if 'geometry' in df_clean.columns:
    df_clean = df_clean.drop(columns='geometry')

# 7ï¸âƒ£ Save cleaned dataset
FINAL_CLEAN_APPROX = '/content/drive/MyDrive/df_crashes_geocoded_clean_approx.csv'
df_clean.to_csv(FINAL_CLEAN_APPROX, index=False)
print("âœ… Cleaned dataset saved:", FINAL_CLEAN_APPROX)

# Quick stats
print("Missing BOROUGH:", df_clean['BOROUGH'].isna().sum())
print("Missing ZIP CODE:", df_clean['ZIP CODE'].isna().sum())

/tmp/ipython-input-4127959640.py:9: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_clean = pd.read_csv(CLEAN_PATH)

Loaded df_clean shape: (1342518, 28)
After removing 0,0 coords: (1337752, 28)
Approximating 15413 BOROUGH values using nearest polygon...
Approximating 26129 ZIP CODE values using nearest polygon...
âœ… Cleaned dataset saved: /content/drive/MyDrive/df_crashes_geocoded_clean_approx.csv
Missing BOROUGH: 2403
Missing ZIP CODE: 2403

In [46]:
import pandas as pd

CLEAN_APPROX_PATH = '/content/drive/MyDrive/df_crashes_geocoded_clean_approx.csv'
FINAL_CLEANED_PATH = '/content/drive/MyDrive/df_crashes_geocoded_final.csv'

# approximated dataset
df_clean = pd.read_csv(CLEAN_APPROX_PATH)

# Drop rows where either BOROUGH or ZIP CODE is missing
df_final = df_clean.dropna(subset=['BOROUGH', 'ZIP CODE']).copy()

print(f"Original rows: {len(df_clean)}")
print(f"Rows after dropping missing BOROUGH/ZIP: {len(df_final)}")

# Save final cleaned dataset
df_final.to_csv(FINAL_CLEANED_PATH, index=False)
print("Final cleaned dataset saved:", FINAL_CLEANED_PATH)

Original rows: 1337752
Rows after dropping missing BOROUGH/ZIP: 1335349
Final cleaned dataset saved: /content/drive/MyDrive/df_crashes_geocoded_final.csv

In [48]:
df_crashes.shape

(1468703, 28)