<a href="https://colab.research.google.com/github/kevorkian-mano/Motor_Vehicle_Collisions_Project/blob/main/crashes-dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Step1 Loading The Data**

In [ ]:
import pandas as pd
# Load crashes dataset
crashes_url = 'https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=download'
df_crashes = pd.read_csv(crashes_url , low_memory=False)
# Load persons dataset
#persons_url = 'https://data.cityofnewyork.us/api/views/f55k-p6yu/rows.csv?accessType=download'
#df_persons = pd.read_csv(persons_url , low_memory=False)

# **Step2 Exploring The Data**

In [ ]:
df_crashes.info()

df_crashes.shape
sample_crashes = df_crashes.sample(10000, random_state=42)
sample_crashes.head(10)
sample_crashes.columns.tolist()
sample_crashes.isna().sum().sort_values(ascending=False).head(15)

sample_crashes.describe()
sample_crashes.head(10)
sample_crashes.tail(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2219379 entries, 0 to 2219378
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 491.0+ MB

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
721803,11/08/2018,16:30,BROOKLYN,11224,40.575450,-73.995390,"(40.57545, -73.99539)",WEST 29 STREET,MERMAID AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4017188,Sedan,Taxi,NaN,NaN,NaN
1380891,12/22/2015,0:26,BROOKLYN,11228,40.607148,-74.011568,"(40.607148, -74.0115678)",BAY 11 STREET,BATH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3358006,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
734784,10/02/2018,14:33,MANHATTAN,10013,40.718327,-73.997820,"(40.718327, -73.99782)",NaN,NaN,130 MULBERRY STREET,...,Unspecified,NaN,NaN,NaN,3993275,Pick-up Truck,Box Truck,NaN,NaN,NaN
1469340,07/16/2015,16:55,QUEENS,11423,40.721064,-73.759442,"(40.7210636, -73.7594419)",HILLSIDE AVENUE,FRANCIS LEWIS BOULEVARD,NaN,...,Unspecified,Unspecified,NaN,NaN,3259555,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,VAN,NaN,NaN
1848773,10/09/2013,20:30,MANHATTAN,10009,40.726974,-73.985738,"(40.7269737, -73.9857379)",1 AVENUE,EAST 7 STREET,NaN,...,Outside Car Distraction,NaN,NaN,NaN,15935,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN
1370422,01/10/2016,11:55,BROOKLYN,11206,40.698416,-73.933794,"(40.6984155, -73.9337943)",STANWIX STREET,JEFFERSON STREET,NaN,...,Unspecified,NaN,NaN,NaN,3368236,UNKNOWN,BICYCLE,NaN,NaN,NaN
1504726,05/26/2015,11:02,NaN,NaN,40.742658,-73.846205,"(40.7426584, -73.8462052)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3228622,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1758685,03/31/2014,16:40,NaN,NaN,NaN,NaN,NaN,148 AVENUE,BROOKVILLE BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,313779,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1376047,01/20/2016,8:00,BRONX,10461,40.847006,-73.832280,"(40.847006, -73.8322799)",WESTCHESTER AVENUE,BUHRE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3374026,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1862545,10/02/2013,20:01,MANHATTAN,10007,40.714362,-74.008387,"(40.7143621, -74.0083868)",CHURCH STREET,WARREN STREET,NaN,...,Unspecified,NaN,NaN,NaN,4001,SPORT UTILITY / STATION WAGON,BUS,NaN,NaN,NaN

# **Step3 Cleaning The Data (Pre-Integration)**

The Contributing Factor Veichle coloums cleaning

In [ ]:
import numpy as np
factor_cols = [f'CONTRIBUTING FACTOR VEHICLE {i}' for i in range(1, 6)]

In [ ]:
def clean_text(text):
    if pd.isna(text):
        return np.nan
    return str(text).strip().lower()

for col in factor_cols:
    df_crashes[col] = df_crashes[col].apply(clean_text)

In [ ]:
replacements = {
    # Vehicle defects
    'accelerator defective': 'vehicle defect',
    'brakes defective': 'vehicle defect',
    'steering failure': 'vehicle defect',
    'tire failure/inadequate': 'vehicle defect',
    'headlights defective': 'vehicle defect',
    'other lighting defects': 'vehicle defect',
    'tow hitch defective': 'vehicle defect',
    'driverless/runaway vehicle': 'vehicle defect',
    'oversized vehicle': 'vehicle defect',
    'other vehicular': 'vehicle defect',

    # Driver behavior
    'aggressive driving/road rage': 'aggressive driving',
    'unsafe lane changing': 'unsafe maneuver',
    'turning improperly': 'unsafe maneuver',
    'backing unsafely': 'unsafe maneuver',
    'passing or lane usage improper': 'unsafe maneuver',
    'passing too closely': 'tailgating',
    'following too closely': 'tailgating',
    'failure to yield right-of-way': 'failure to yield',
    'failure to keep right': 'failure to keep right',
    'unsafe speed': 'speeding',

    # Distraction
    'driver inattention/distraction': 'driver inattention',
    'outside car distraction': 'external distraction',
    'passenger distraction': 'passenger distraction',
    'cell phone (hand-held)': 'cell phone use',
    'cell phone (hands-free)': 'cell phone use',
    'texting': 'cell phone use',
    'using on board navigation device': 'cell phone use',
    'listening/using headphones': 'distraction',
    'other electronic device': 'distraction',
    'eating or drinking': 'distraction',

    # Driver condition
    'fatigued/drowsy': 'driver fatigue',
    'fell asleep': 'driver fatigue',
    'driver inexperience': 'driver inexperience',
    'alcohol involvement': 'substance impairment',
    'drugs (illegal)': 'substance impairment',
    'prescription medication': 'substance impairment',
    'lost consciousness': 'driver illness',
    'illness': 'driver illness',
    'illnes': 'driver illness',
    'physical disability': 'driver illness',

    # Environmental or road factors
    'animals action': 'animal on road',
    'obstruction/debris': 'road obstruction',
    'pavement defective': 'road defect',
    'pavement slippery': 'slippery pavement',
    'lane marking improper/inadequate': 'road defect',
    'shoulders defective/improper': 'road defect',
    'traffic control device improper/non-working': 'traffic control issue',
    'traffic control disregarded': 'traffic violation',
    'view obstructed/limited': 'visibility issue',
    'glare': 'visibility issue',
    'windshield inadequate': 'visibility issue',
    'tinted windows': 'visibility issue',

    # Pedestrian or others
    'pedestrian/bicyclist/other pedestrian error/confusion': 'pedestrian or bicyclist error',
    'reaction to other uninvolved vehicle': 'reaction to other vehicle',
    'reaction to uninvolved vehicle': 'reaction to other vehicle',

    # Miscellaneous
    'vehicle vandalism': 'vandalism',
    '1': 'unspecified',
    '80': 'unspecified',
    'unspecified': 'unspecified'
}

In [ ]:
for col in factor_cols:
    df_crashes[col] = df_crashes[col].replace(replacements)

In [ ]:
all_factors = pd.concat([df_crashes[col] for col in factor_cols], ignore_index=True)
cleaned_counts = all_factors.value_counts()

print("Normalization complete.")
print(f"Number of unique normalized categories: {cleaned_counts.shape[0]}")
print("\nTop 20 factors:\n", cleaned_counts.head(28))

Normalization complete.
Number of unique normalized categories: 27

Top 20 factors:
 unspecified                      2504444
driver inattention                553742
unsafe maneuver                   281818
tailgating                        208481
failure to yield                  151112
vehicle defect                    140838
driver fatigue                     66381
traffic violation                  49037
substance impairment               47416
driver inexperience                43227
driver illness                     42330
speeding                           40674
reaction to other vehicle          27249
slippery pavement                  25489
visibility issue                   23965
external distraction               16002
pedestrian or bicyclist error      14507
aggressive driving                 12989
passenger distraction              10090
road obstruction                    5433
road defect                         4590
failure to keep right               4197
distraction                         3227
animal on road                      1767
traffic control issue               1480
cell phone use                      1344
vandalism                            172
Name: count, dtype: int64

In [ ]:
all_factors.value_counts().head(50)

unspecified                      2504444
driver inattention                553742
unsafe maneuver                   281818
tailgating                        208481
failure to yield                  151112
vehicle defect                    140838
driver fatigue                     66381
traffic violation                  49037
substance impairment               47416
driver inexperience                43227
driver illness                     42330
speeding                           40674
reaction to other vehicle          27249
slippery pavement                  25489
visibility issue                   23965
external distraction               16002
pedestrian or bicyclist error      14507
aggressive driving                 12989
passenger distraction              10090
road obstruction                    5433
road defect                         4590
failure to keep right               4197
distraction                         3227
animal on road                      1767
traffic control issue               1480
cell phone use                      1344
vandalism                            172
Name: count, dtype: int64

In [ ]:
# drop NaN values where factors 1 - 3 are all NaN
factor_cols = [f'CONTRIBUTING FACTOR VEHICLE {i}' for i in range(1, 4)]

mask = df_crashes[factor_cols].apply(lambda row: all(
    (pd.isna(x) or x.lower().strip() == 'unspecified') for x in row
), axis=1)
df_crashes = df_crashes[~mask]

In [ ]:
df_crashes[factor_cols] = df_crashes[factor_cols].fillna('missing')

In [ ]:
print(df_crashes[factor_cols].isna().sum())
print(df_crashes[factor_cols].head(10))

CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
CONTRIBUTING FACTOR VEHICLE 3    0
dtype: int64
   CONTRIBUTING FACTOR VEHICLE 1 CONTRIBUTING FACTOR VEHICLE 2  \
0             aggressive driving                   unspecified
1              slippery pavement                       missing
3                     tailgating                   unspecified
4                     tailgating                   unspecified
6                     tailgating            driver inattention
7               failure to yield                       missing
12                    tailgating                   unspecified
14           driver inexperience                   unspecified
15                    tailgating                   unspecified
16               unsafe maneuver                   unspecified

   CONTRIBUTING FACTOR VEHICLE 3
0                        missing
1                        missing
3                        missing
4                        missing
6                        missing
7                        missing
12                       missing
14                       missing
15                       missing
16                       missing

In [ ]:
# List of the 3 factor columns
factor_cols = [
    "CONTRIBUTING FACTOR VEHICLE 1",
    "CONTRIBUTING FACTOR VEHICLE 2",
    "CONTRIBUTING FACTOR VEHICLE 3",
]

# Combine non-unspecified and non-missing factors into a single list per row
df_crashes["ALL_CONTRIBUTING_FACTORS"] = df_crashes[factor_cols].apply(
    lambda x: [f for f in x if f not in ["unspecified", "missing"]], axis=1
)

#  convert the list into a string for easier viewing/aggregation
df_crashes["ALL_CONTRIBUTING_FACTORS_STR"] = df_crashes["ALL_CONTRIBUTING_FACTORS"].apply(
    lambda x: ", ".join(x) if x else "none"
)

# Quick check
df_crashes[["ALL_CONTRIBUTING_FACTORS", "ALL_CONTRIBUTING_FACTORS_STR"]].head()

           ALL_CONTRIBUTING_FACTORS    ALL_CONTRIBUTING_FACTORS_STR
0              [aggressive driving]              aggressive driving
1               [slippery pavement]               slippery pavement
3                      [tailgating]                      tailgating
4                      [tailgating]                      tailgating
6  [tailgating, driver inattention]  tailgating, driver inattention

In [ ]:
import numpy as np

cols = [
    'CONTRIBUTING FACTOR VEHICLE 1',
    'CONTRIBUTING FACTOR VEHICLE 2',
    'CONTRIBUTING FACTOR VEHICLE 3',
    'CONTRIBUTING FACTOR VEHICLE 4',
    'CONTRIBUTING FACTOR VEHICLE 5'
]

for col in cols:
    df_crashes[col] = df_crashes[col].replace('missing', np.nan)


df_crashes.count()

In [ ]:
sparse_cols = ["CONTRIBUTING FACTOR VEHICLE 4","CONTRIBUTING FACTOR VEHICLE 5"]
df_crashes.drop(columns=sparse_cols, inplace=True)

In [ ]:
# Keep only the first three contributing factor columns
factor_cols = [f'CONTRIBUTING FACTOR VEHICLE {i}' for i in range(1, 4)]

# Replace NaN with 'unspecified'
df_crashes[factor_cols] = df_crashes[factor_cols].fillna('unspecified')

In [ ]:
df_crashes["CRASH_DATETIME"] = pd.to_datetime(
    df_crashes["CRASH DATE"] + " " + df_crashes["CRASH TIME"],
    errors="coerce"
)
df_crashes = df_crashes.drop(columns=['CRASH DATE', 'CRASH TIME'])

/tmp/ipython-input-683500600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crashes["CRASH_DATETIME"] = pd.to_datetime(

In [ ]:
# Drop location tuple since it is redundunt
df_crashes = df_crashes.drop(columns=['LOCATION'])

In [ ]:
vehicle_cols = [f'VEHICLE TYPE CODE {i}' for i in range(1, 6)]

# Print unique values for each vehicle type column
for col in vehicle_cols:
    unique_vals = df_crashes[col].dropna().unique()
    print(f"{col} ({len(unique_vals)} unique values):\n{unique_vals}\n")

VEHICLE TYPE CODE 1 (12 unique values):
['Sedan' 'SUV/Station Wagon' 'Other' 'Bus' 'Taxi' 'Van' 'Motorcycle'
 'Bicycle' 'Ambulance' 'Truck/Commercial' 'Pickup Truck' 'Pedicab']

VEHICLE TYPE CODE 2 (12 unique values):
['Sedan' 'Other' 'Pickup Truck' 'SUV/Station Wagon' 'Truck/Commercial'
 'Bicycle' 'Motorcycle' 'Ambulance' 'Bus' 'Taxi' 'Van' 'Pedicab']

VEHICLE TYPE CODE 3 (12 unique values):
['Other' 'Sedan' 'SUV/Station Wagon' 'Pickup Truck' 'Motorcycle'
 'Truck/Commercial' 'Van' 'Taxi' 'Bicycle' 'Bus' 'Ambulance' 'Pedicab']

VEHICLE TYPE CODE 4 (12 unique values):
['Other' 'SUV/Station Wagon' 'Sedan' 'Truck/Commercial' 'Van' 'Taxi' 'Bus'
 'Pickup Truck' 'Bicycle' 'Motorcycle' 'Pedicab' 'Ambulance']

VEHICLE TYPE CODE 5 (12 unique values):
['Other' 'SUV/Station Wagon' 'Sedan' 'Pickup Truck' 'Taxi'
 'Truck/Commercial' 'Van' 'Motorcycle' 'Bicycle' 'Bus' 'Ambulance'
 'Pedicab']

In [ ]:
import re

vehicle_patterns = {
    'Sedan': [r'\b(sedan|4 dr|2 dr)\b'],
    'SUV/Station Wagon': [r'\b(suv|station wagon|sport utility|suv/sta)\b'],
    'Pickup Truck': [r'\b(pick[- ]?up|pickup|pick up truck)\b'],
    'Truck/Commercial': [r'\b(truck|tractor truck|flatbed|semi|delivery|box truck|commercial|bulk|garbage|tow[- ]?truck|dump|concrete|milk|beverage)\b'],
    'Van': [r'\b(van|van camper|refrigerated|utility van|work van|uhaul)\b'],
    'Motorcycle': [r'\b(motorcycle|motorbike|moped|moped/scooter|scooter|e-bike|e-bike|ebike|motorscooter|dirt bike)\b'],
    'Bus': [r'\b(bus|school bus|mta|nyc transit|omnibus|coach)\b'],
    'Taxi': [r'\b(taxi|livery)\b'],
    'Ambulance': [r'\b(ambulance|fdny|nyc ambula)\b'],
    'Pedicab': [r'\b(pedicab)\b'],
    'Bicycle': [r'\b(bike|bicycle|unicycle)\b'],
    'Other': [r'.*']  # fallback
}

In [ ]:
def clean_vehicle_type(raw):
    if not isinstance(raw, str):
        return 'Other'
    raw_lower = raw.lower()
    for category, patterns in vehicle_patterns.items():
        for pat in patterns:
            if re.search(pat, raw_lower):
                return category
    return 'Other'

In [ ]:
for col in ['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
            'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']:
    df_crashes[col] = df_crashes[col].apply(clean_vehicle_type)

In [ ]:
df_crashes.head(20)

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,...,CONTRIBUTING FACTOR VEHICLE 3,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,ALL_CONTRIBUTING_FACTORS,ALL_CONTRIBUTING_FACTORS_STR,CRASH_DATETIME
0,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,0.0,0,...,unspecified,4455765,Sedan,Sedan,Other,Other,Other,[aggressive driving],aggressive driving,2021-09-11 02:39:00
1,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,0.0,0,...,unspecified,4513547,Sedan,Other,Other,Other,Other,[slippery pavement],slippery pavement,2022-03-26 11:45:00
3,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,0.0,0,...,unspecified,4541903,Sedan,Pickup Truck,Other,Other,Other,[tailgating],tailgating,2022-06-29 06:55:00
4,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,0.0,0.0,0,...,unspecified,4566131,SUV/Station Wagon,Other,Other,Other,Other,[tailgating],tailgating,2022-09-21 13:21:00
6,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,NaN,NaN,0.0,0.0,0,...,unspecified,4675709,Sedan,SUV/Station Wagon,Other,Other,Other,"[tailgating, driver inattention]","tailgating, driver inattention",2023-11-01 07:12:00
7,NaN,NaN,NaN,NaN,WEST 35 STREET,HENRY HUDSON RIVER,NaN,0.0,0.0,0,...,unspecified,4675769,Sedan,Other,Other,Other,Other,[failure to yield],failure to yield,2023-11-01 08:01:00
12,NaN,NaN,40.709183,-73.956825,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,0.0,0.0,0,...,unspecified,4486555,Sedan,Truck/Commercial,Other,Other,Other,[tailgating],tailgating,2021-12-14 17:05:00
14,BROOKLYN,11207,40.671720,-73.897100,NaN,NaN,2047 PITKIN AVENUE,0.0,0.0,0,...,unspecified,4487074,Sedan,Other,Other,Other,Other,[driver inexperience],driver inexperience,2021-12-14 21:10:00
15,MANHATTAN,10017,40.751440,-73.973970,3 AVENUE,EAST 43 STREET,NaN,0.0,0.0,0,...,unspecified,4486519,Sedan,SUV/Station Wagon,Other,Other,Other,[tailgating],tailgating,2021-12-14 14:58:00
16,NaN,NaN,40.701275,-73.888870,MYRTLE AVENUE,NaN,NaN,0.0,0.0,0,...,unspecified,4486934,SUV/Station Wagon,Other,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-13 00:34:00
17,QUEENS,11413,40.675884,-73.755770,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,NaN,0.0,0.0,0,...,unspecified,4487127,Sedan,SUV/Station Wagon,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-14 16:50:00
18,NaN,NaN,NaN,NaN,broadway,west 80 street -west 81 street,NaN,0.0,0.0,0,...,unspecified,4486634,SUV/Station Wagon,Sedan,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-14 08:30:00
19,NaN,NaN,40.596620,-74.002310,BELT PARKWAY,NaN,NaN,0.0,0.0,0,...,unspecified,4486564,Sedan,Other,Other,Other,Other,[speeding],speeding,2021-12-14 00:59:00
20,QUEENS,11434,40.666840,-73.789410,NORTH CONDUIT AVENUE,150 STREET,NaN,2.0,0.0,0,...,unspecified,4486635,Sedan,Sedan,Other,Other,Other,[reaction to other vehicle],reaction to other vehicle,2021-12-14 23:10:00
21,BROOKLYN,11217,40.681580,-73.974630,NaN,NaN,480 DEAN STREET,0.0,0.0,0,...,unspecified,4486604,Other,SUV/Station Wagon,Other,Other,Other,[tailgating],tailgating,2021-12-14 17:58:00
22,BROOKLYN,11226,40.650680,-73.958810,NaN,NaN,878 FLATBUSH AVENUE,4.0,0.0,0,...,unspecified,4486991,Sedan,Other,Other,Other,Other,[vehicle defect],vehicle defect,2021-12-14 20:03:00
23,NaN,NaN,NaN,NaN,MEEKER AVENUE,LORIMER STREET,NaN,3.0,0.0,0,...,unspecified,4486284,SUV/Station Wagon,SUV/Station Wagon,Other,Other,Other,[traffic violation],traffic violation,2021-12-14 01:28:00
25,NaN,NaN,40.783268,-73.824850,WHITESTONE EXPRESSWAY,NaN,NaN,0.0,0.0,0,...,unspecified,4486537,SUV/Station Wagon,Sedan,Sedan,Other,Other,[tailgating],tailgating,2021-12-14 14:30:00
26,MANHATTAN,10001,40.748917,-73.993546,NaN,NaN,232 WEST 30 STREET,0.0,0.0,0,...,unspecified,4486905,SUV/Station Wagon,Other,Other,Other,Other,[tailgating],tailgating,2021-12-11 04:45:00
27,NaN,NaN,40.744644,-73.770410,LONG ISLAND EXPRESSWAY,NaN,NaN,1.0,0.0,0,...,unspecified,4487122,SUV/Station Wagon,SUV/Station Wagon,Other,Other,Other,"[vehicle defect, vehicle defect]","vehicle defect, vehicle defect",2021-12-14 05:46:00

In [ ]:
import geopandas as gpd

# Direct raw GitHub GeoJSON (public)
url = "https://raw.githubusercontent.com/dwillis/nyc-maps/master/boroughs.geojson"
boroughs = gpd.read_file(url)

print(boroughs.head())

   BoroCode       BoroName    Shape_Leng    Shape_Area  \
0         5  Staten Island  330385.03697  1.623853e+09
1         4         Queens  861038.47930  3.049947e+09
2         3       Brooklyn  726568.94634  1.959432e+09
3         1      Manhattan  358532.95642  6.364422e+08
4         2          Bronx  464517.89055  1.186804e+09

                                            geometry
0  MULTIPOLYGON (((-74.05051 40.56642, -74.05047 ...
1  MULTIPOLYGON (((-73.83668 40.59495, -73.83678 ...
2  MULTIPOLYGON (((-73.86706 40.58209, -73.86769 ...
3  MULTIPOLYGON (((-74.01093 40.68449, -74.01193 ...
4  MULTIPOLYGON (((-73.89681 40.79581, -73.89694 ...

In [ ]:
import geopandas as gpd
import pandas as pd

# 1. Convert crashes df to GeoDataFrame
crashes_gdf = gpd.GeoDataFrame(
    df_crashes,
    geometry=gpd.points_from_xy(df_crashes['LONGITUDE'], df_crashes['LATITUDE']),
    crs="EPSG:4326"
)

# 2. Spatial join to assign boroughs
crashes_with_borough = gpd.sjoin(
    crashes_gdf,
    boroughs[['BoroName', 'geometry']],
    how="left",
    predicate="within"  # <- updated argument
)

# 3. Fill missing BOROUGH from spatial join
df_crashes['BOROUGH'] = df_crashes['BOROUGH'].fillna(crashes_with_borough['BoroName'])

In [ ]:
import geopandas as gpd

url_zip = "https://raw.githubusercontent.com/fedhere/PUI2015_EC/master/mam1612_EC/nyc-zip-code-tabulation-areas-polygons.geojson"
zipcodes = gpd.read_file(url_zip)
print(zipcodes.columns)  # check attributes

Index(['OBJECTID', 'postalCode', 'PO_NAME', 'STATE', 'borough', 'ST_FIPS',
       'CTY_FIPS', 'BLDGpostalCode', 'Shape_Leng', 'Shape_Area', '@id',
       'geometry'],
      dtype='object')

In [ ]:
import geopandas as gpd
from shapely.geometry import Point

# 1. Convert df_crashes to GeoDataFrame
crashes_gdf = gpd.GeoDataFrame(
    df_crashes,
    geometry=gpd.points_from_xy(df_crashes['LONGITUDE'], df_crashes['LATITUDE']),
    crs="EPSG:4326"
)

# 2. Spatial join to fill BOROUGH
crashes_with_borough = gpd.sjoin(
    crashes_gdf,
    boroughs[['BoroName', 'geometry']],
    how='left',
    predicate='within'
)
crashes_with_borough_unique = crashes_with_borough[~crashes_with_borough.index.duplicated(keep='first')]
df_crashes['BOROUGH'] = df_crashes['BOROUGH'].combine_first(crashes_with_borough_unique['BoroName'])

# 3. Spatial join to fill ZIP CODE
crashes_with_zip = gpd.sjoin(
    crashes_gdf,
    zipcodes[['postalCode', 'geometry']],
    how='left',
    predicate='within',
    lsuffix='crash',  # avoids overlapping columns
    rsuffix='zip'
)

# The ZIP column is now likely named 'postalCode_zip'
zip_col_name = [col for col in crashes_with_zip.columns if 'postalCode' in col][0]

# Remove duplicate indices
crashes_with_zip_unique = crashes_with_zip[~crashes_with_zip.index.duplicated(keep='first')]

# Fill missing ZIP CODE
df_crashes['ZIP CODE'] = df_crashes['ZIP CODE'].combine_first(crashes_with_zip_unique[zip_col_name])

# 4. Check remaining missing
print("Missing BOROUGH:", df_crashes['BOROUGH'].isna().sum())
print("Missing ZIP CODE:", df_crashes['ZIP CODE'].isna().sum())

Missing BOROUGH: 134848
Missing ZIP CODE: 137448

In [ ]:
street_cols = ["ON STREET NAME", "CROSS STREET NAME", "OFF STREET NAME"]

df_crashes[street_cols]

                   ON STREET NAME   CROSS STREET NAME         OFF STREET NAME
0           WHITESTONE EXPRESSWAY           20 AVENUE                     NaN
1         QUEENSBORO BRIDGE UPPER                 NaN                     NaN
3              THROGS NECK BRIDGE                 NaN                     NaN
4                 BROOKLYN BRIDGE                 NaN                     NaN
6        HUTCHINSON RIVER PARKWAY                 NaN                     NaN
...                           ...                 ...                     ...
2219372                       NaN                 NaN  917       FLUSHING AVE
2219373                  W 140 ST         HAMILTON PL                     NaN
2219375                       NaN                 NaN  1254      FRANKLIN AVE
2219377              NOSTRAND AVE       LEXINGTON AVE                     NaN
2219378              QUEENS PLZ S  WILLIAM MODELL WAY                     NaN

[1474429 rows x 3 columns]

In [ ]:
import pandas as pd

street_cols = ['ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME']


def clean_street_name(name):
    if pd.isna(name):
        return None
    name = str(name).upper().strip()
    name = name.replace('.', '')
    name = name.replace('-', ' ')
    name = ' '.join(name.split())          # Collapse multiple spaces into one

    # Expand common abbreviations
    replacements = {
        ' ST ': ' STREET ',
        ' AV ': ' AVENUE ',
        ' AVE ': ' AVENUE ',
        ' BLVD ': ' BOULEVARD ',
        ' RD ': ' ROAD ',
        ' PKWY ': ' PARKWAY ',
        ' PL ': ' PLACE ',
        ' TER ': ' TERRACE ',
        ' HWY ': ' HIGHWAY ',
        ' LN ': ' LANE ',
        ' SQ ': ' SQUARE ',
        ' DR ': ' DRIVE ',
        ' CTR ': ' CENTER ',
        ' LOOP ': ' LOOP ',
        ' CIR ': ' CIRCLE '
    }

    for k, v in replacements.items():
        name = name.replace(k, v)

    return name


for col in street_cols:
    df_crashes[col] = df_crashes[col].apply(clean_street_name)


df_crashes[street_cols].head(10)

                ON STREET NAME   CROSS STREET NAME     OFF STREET NAME
0        WHITESTONE EXPRESSWAY           20 AVENUE                None
1      QUEENSBORO BRIDGE UPPER                None                None
3           THROGS NECK BRIDGE                None                None
4              BROOKLYN BRIDGE                None                None
6     HUTCHINSON RIVER PARKWAY                None                None
7               WEST 35 STREET  HENRY HUDSON RIVER                None
12  BROOKLYN QUEENS EXPRESSWAY                None                None
14                        None                None  2047 PITKIN AVENUE
15                    3 AVENUE      EAST 43 STREET                None
16               MYRTLE AVENUE                None                None

In [ ]:
# Function to combine streets into one address string
def build_address(row):
    parts = []
    if row['ON STREET NAME']:
        parts.append(row['ON STREET NAME'])
    if row['CROSS STREET NAME']:
        parts.append('AND ' + row['CROSS STREET NAME'])
    if row['OFF STREET NAME']:
        parts.append(row['OFF STREET NAME'])
    return ', '.join(parts) if parts else None

df_crashes['FULL ADDRESS'] = df_crashes.apply(build_address, axis=1)

# Optional: append city and state to help geocoding
df_crashes['FULL ADDRESS'] = df_crashes['FULL ADDRESS'].apply(
    lambda x: f"{x}, New York, NY" if x else None
)

df_crashes[['ON STREET NAME','CROSS STREET NAME','OFF STREET NAME','FULL ADDRESS']].head(10)

,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,FULL ADDRESS
0,WHITESTONE EXPRESSWAY,20 AVENUE,None,"WHITESTONE EXPRESSWAY, AND 20 AVENUE, New York..."
1,QUEENSBORO BRIDGE UPPER,None,None,"QUEENSBORO BRIDGE UPPER, New York, NY"
3,THROGS NECK BRIDGE,None,None,"THROGS NECK BRIDGE, New York, NY"
4,BROOKLYN BRIDGE,None,None,"BROOKLYN BRIDGE, New York, NY"
6,HUTCHINSON RIVER PARKWAY,None,None,"HUTCHINSON RIVER PARKWAY, New York, NY"
7,WEST 35 STREET,HENRY HUDSON RIVER,None,"WEST 35 STREET, AND HENRY HUDSON RIVER, New Yo..."
12,BROOKLYN QUEENS EXPRESSWAY,None,None,"BROOKLYN QUEENS EXPRESSWAY, New York, NY"
14,None,None,2047 PITKIN AVENUE,"2047 PITKIN AVENUE, New York, NY"
15,3 AVENUE,EAST 43 STREET,None,"3 AVENUE, AND EAST 43 STREET, New York, NY"
16,MYRTLE AVENUE,None,None,"MYRTLE AVENUE, New York, NY"

In [ ]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import pandas as pd

# 1. Initialize Nominatim geocoder
geolocator = Nominatim(user_agent="nyc_crash_geocoder")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=2)  # respect OSM usage policy

# 2. Apply geocoding (start with a sample to test)
df_sample = df_crashes[df_crashes['FULL ADDRESS'].notna()].sample(100)  # small sample
df_sample['location'] = df_sample['FULL ADDRESS'].apply(geocode)

# 3. Extract lat and lon
df_sample['LATITUDE_GEOCODE'] = df_sample['location'].apply(lambda loc: loc.latitude if loc else None)
df_sample['LONGITUDE_GEOCODE'] = df_sample['location'].apply(lambda loc: loc.longitude if loc else None)

df_sample[['FULL ADDRESS','LATITUDE_GEOCODE','LONGITUDE_GEOCODE']].head()

In [ ]:
df_crashes.head(20)

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,...,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,ALL_CONTRIBUTING_FACTORS,ALL_CONTRIBUTING_FACTORS_STR,CRASH_DATETIME,postalCode,FULL ADDRESS
0,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,None,2.0,0.0,0,...,Sedan,Sedan,Other,Other,Other,[aggressive driving],aggressive driving,2021-09-11 02:39:00,NaN,"WHITESTONE EXPRESSWAY, AND 20 AVENUE, New York..."
1,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,None,None,1.0,0.0,0,...,Sedan,Other,Other,Other,Other,[slippery pavement],slippery pavement,2022-03-26 11:45:00,NaN,"QUEENSBORO BRIDGE UPPER, New York, NY"
3,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,None,None,0.0,0.0,0,...,Sedan,Pickup Truck,Other,Other,Other,[tailgating],tailgating,2022-06-29 06:55:00,NaN,"THROGS NECK BRIDGE, New York, NY"
4,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,None,None,0.0,0.0,0,...,SUV/Station Wagon,Other,Other,Other,Other,[tailgating],tailgating,2022-09-21 13:21:00,NaN,"BROOKLYN BRIDGE, New York, NY"
6,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,None,None,0.0,0.0,0,...,Sedan,SUV/Station Wagon,Other,Other,Other,"[tailgating, driver inattention]","tailgating, driver inattention",2023-11-01 07:12:00,NaN,"HUTCHINSON RIVER PARKWAY, New York, NY"
7,NaN,NaN,NaN,NaN,WEST 35 STREET,HENRY HUDSON RIVER,None,0.0,0.0,0,...,Sedan,Other,Other,Other,Other,[failure to yield],failure to yield,2023-11-01 08:01:00,NaN,"WEST 35 STREET, AND HENRY HUDSON RIVER, New Yo..."
12,Brooklyn,11211,40.709183,-73.956825,BROOKLYN QUEENS EXPRESSWAY,None,None,0.0,0.0,0,...,Sedan,Truck/Commercial,Other,Other,Other,[tailgating],tailgating,2021-12-14 17:05:00,11211,"BROOKLYN QUEENS EXPRESSWAY, New York, NY"
14,BROOKLYN,11207,40.671720,-73.897100,None,None,2047 PITKIN AVENUE,0.0,0.0,0,...,Sedan,Other,Other,Other,Other,[driver inexperience],driver inexperience,2021-12-14 21:10:00,11207,"2047 PITKIN AVENUE, New York, NY"
15,MANHATTAN,10017,40.751440,-73.973970,3 AVENUE,EAST 43 STREET,None,0.0,0.0,0,...,Sedan,SUV/Station Wagon,Other,Other,Other,[tailgating],tailgating,2021-12-14 14:58:00,10017,"3 AVENUE, AND EAST 43 STREET, New York, NY"
16,Queens,11385,40.701275,-73.888870,MYRTLE AVENUE,None,None,0.0,0.0,0,...,SUV/Station Wagon,Other,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-13 00:34:00,11385,"MYRTLE AVENUE, New York, NY"
17,QUEENS,11413,40.675884,-73.755770,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,None,0.0,0.0,0,...,Sedan,SUV/Station Wagon,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-14 16:50:00,11413,"SPRINGFIELD BOULEVARD, AND EAST GATE PLAZA, Ne..."
18,NaN,NaN,NaN,NaN,BROADWAY,WEST 80 STREET WEST 81 STREET,None,0.0,0.0,0,...,SUV/Station Wagon,Sedan,Other,Other,Other,[unsafe maneuver],unsafe maneuver,2021-12-14 08:30:00,NaN,"BROADWAY, AND WEST 80 STREET WEST 81 STREET, N..."
19,Brooklyn,11214,40.596620,-74.002310,BELT PARKWAY,None,None,0.0,0.0,0,...,Sedan,Other,Other,Other,Other,[speeding],speeding,2021-12-14 00:59:00,11214,"BELT PARKWAY, New York, NY"
20,QUEENS,11434,40.666840,-73.789410,NORTH CONDUIT AVENUE,150 STREET,None,2.0,0.0,0,...,Sedan,Sedan,Other,Other,Other,[reaction to other vehicle],reaction to other vehicle,2021-12-14 23:10:00,NaN,"NORTH CONDUIT AVENUE, AND 150 STREET, New York..."
21,BROOKLYN,11217,40.681580,-73.974630,None,None,480 DEAN STREET,0.0,0.0,0,...,Other,SUV/Station Wagon,Other,Other,Other,[tailgating],tailgating,2021-12-14 17:58:00,11217,"480 DEAN STREET, New York, NY"
22,BROOKLYN,11226,40.650680,-73.958810,None,None,878 FLATBUSH AVENUE,4.0,0.0,0,...,Sedan,Other,Other,Other,Other,[vehicle defect],vehicle defect,2021-12-14 20:03:00,11226,"878 FLATBUSH AVENUE, New York, NY"
23,NaN,NaN,NaN,NaN,MEEKER AVENUE,LORIMER STREET,None,3.0,0.0,0,...,SUV/Station Wagon,SUV/Station Wagon,Other,Other,Other,[traffic violation],traffic violation,2021-12-14 01:28:00,NaN,"MEEKER AVENUE, AND LORIMER STREET, New York, NY"
25,Queens,11357,40.783268,-73.824850,WHITESTONE EXPRESSWAY,None,None,0.0,0.0,0,...,SUV/Station Wagon,Sedan,Sedan,Other,Other,[tailgating],tailgating,2021-12-14 14:30:00,11357,"WHITESTONE EXPRESSWAY, New York, NY"
26,MANHATTAN,10001,40.748917,-73.993546,None,None,232 WEST 30 STREET,0.0,0.0,0,...,SUV/Station Wagon,Other,Other,Other,Other,[tailgating],tailgating,2021-12-11 04:45:00,10001,"232 WEST 30 STREET, New York, NY"
27,Queens,11364,40.744644,-73.770410,LONG ISLAND EXPRESSWAY,None,None,1.0,0.0,0,...,SUV/Station Wagon,SUV/Station Wagon,Other,Other,Other,"[vehicle defect, vehicle defect]","vehicle defect, vehicle defect",2021-12-14 05:46:00,11364,"LONG ISLAND EXPRESSWAY, New York, NY"

In [ ]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import time
import os

# -----------------------------
# 0. Mount Google Drive (Colab)
# -----------------------------
from google.colab import drive
drive.mount('/content/drive')

# Directory to save partial results
SAVE_DIR = '/content/drive/MyDrive/geocoding_batches'
os.makedirs(SAVE_DIR, exist_ok=True)

# -----------------------------
# 1. Initialize geocoder
# -----------------------------
geolocator = Nominatim(user_agent="nyc_crash_geocoder")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)  # respect API rate limits

# -----------------------------
# 2. Filter rows that need geocoding
# -----------------------------
df_to_geocode = df_crashes[
    df_crashes['LATITUDE'].isna() | df_crashes['LONGITUDE'].isna()
].copy()

print(f"Total rows to geocode: {len(df_to_geocode)}")

# -----------------------------
# 3. Batch geocoding parameters
# -----------------------------
BATCH_SIZE = 500  # rows per batch
num_batches = (len(df_to_geocode) + BATCH_SIZE - 1) // BATCH_SIZE

# -----------------------------
# 4. Geocoding loop with save & resume
# -----------------------------
for batch_num in range(num_batches):
    batch_file = os.path.join(SAVE_DIR, f'geocoded_batch_{batch_num}.csv')

    # Skip batch if already saved
    if os.path.exists(batch_file):
        print(f"Skipping batch {batch_num}, already processed.")
        continue

    start_idx = batch_num * BATCH_SIZE
    end_idx = min((batch_num + 1) * BATCH_SIZE, len(df_to_geocode))
    df_batch = df_to_geocode.iloc[start_idx:end_idx].copy()

    print(f"Processing batch {batch_num+1}/{num_batches} (rows {start_idx}â€“{end_idx-1})")

    # Forward geocoding: FULL ADDRESS â†’ lat/lon
    df_batch['location'] = df_batch['FULL ADDRESS'].apply(geocode)
    df_batch['LATITUDE_GEOCODE'] = df_batch['location'].apply(lambda loc: loc.latitude if loc else None)
    df_batch['LONGITUDE_GEOCODE'] = df_batch['location'].apply(lambda loc: loc.longitude if loc else None)

    # Save batch to disk (Google Drive)
    df_batch[['FULL ADDRESS','LATITUDE_GEOCODE','LONGITUDE_GEOCODE']].to_csv(batch_file, index=False)
    print(f"Saved batch {batch_num} to {batch_file}")

    # Merge batch results into main df_crashes
    df_crashes.loc[df_batch.index, 'LATITUDE'] = df_crashes.loc[df_batch.index, 'LATITUDE'].combine_first(df_batch['LATITUDE_GEOCODE'])
    df_crashes.loc[df_batch.index, 'LONGITUDE'] = df_crashes.loc[df_batch.index, 'LONGITUDE'].combine_first(df_batch['LONGITUDE_GEOCODE'])

    # Optional: short sleep to avoid hammering API
    time.sleep(1)

print("Geocoding finished for all batches.")

# -----------------------------
# 5. Optional: Reverse spatial imputation (lat/lon â†’ borough/zip)
# Requires boroughs and zip polygons already loaded as GeoDataFrames
# -----------------------------
import geopandas as gpd
from shapely.geometry import Point

# Convert to GeoDataFrame
crashes_gdf = gpd.GeoDataFrame(
    df_crashes.dropna(subset=['LATITUDE','LONGITUDE']),
    geometry=gpd.points_from_xy(df_crashes['LONGITUDE'], df_crashes['LATITUDE']),
    crs="EPSG:4326"
)

# Fill missing BOROUGH
crashes_with_borough = gpd.sjoin(
    crashes_gdf,
    boroughs[['BoroName','geometry']],
    how='left',
    predicate='within'
)
crashes_with_borough_unique = crashes_with_borough[~crashes_with_borough.index.duplicated(keep='first')]
df_crashes['BOROUGH'] = df_crashes['BOROUGH'].combine_first(crashes_with_borough_unique['BoroName'])

# Fill missing ZIP CODE
crashes_with_zip = gpd.sjoin(
    crashes_gdf,
    zipcodes[['postalCode','geometry']],
    how='left',
    predicate='within'
)
crashes_with_zip_unique = crashes_with_zip[~crashes_with_zip.index.duplicated(keep='first')]
df_crashes['ZIP CODE'] = df_crashes['ZIP CODE'].combine_first(crashes_with_zip_unique['postalCode'])

# -----------------------------
# 6. Check remaining missing values
# -----------------------------
print("Missing LAT/LON:", df_crashes[['LATITUDE','LONGITUDE']].isna().sum())
print("Missing BOROUGH:", df_crashes['BOROUGH'].isna().sum())
print("Missing ZIP CODE:", df_crashes['ZIP CODE'].isna().sum())

# -----------------------------
# 7. Save final merged dataset
# -----------------------------
df_crashes.to_csv('/content/drive/MyDrive/df_crashes_geocoded.csv', index=False)
print("Saved fully geocoded df_crashes to Google Drive.")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Total rows to geocode: 154695
Processing batch 1/310 (rows 0â€“499)

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=WEST+33+STREET%2C+AND+7+AVENUE%2C+New+York%2C+NY&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1
WARNING:geopy:RateLimiter caught an error, retrying (0/2 tries). Called with (*('EAST 128 STREET, AND 3 AVENUE BRIDGE, New York, NY',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 534, in _make_request
    response = conn.getresponse()
               ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connection.py", line 565, in getresponse
    httplib_response = super().getresponse()
                       ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/http/client.py", line 1430, in getresponse
    response.begin()
  File "/usr/lib/python3.12/http/client.py", line 331, in begin
    version, status, reason = self._read_status()
                              ^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/http/client.py", line 292, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/socket.py", line 720, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/ssl.py", line 1251, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/ssl.py", line 1103, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 787, in urlopen
    response = self._make_request(
               ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 536, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 367, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/requests/adapters.py", line 667, in send
    resp = conn.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 841, in urlopen
    retries = retries.increment(
              ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/util/retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/geopy/adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/adapters.py", line 700, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/geopy/extra/rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
    ^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/extra/rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/geocoders/nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/geocoders/base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1
WARNING:geopy:RateLimiter caught an error, retrying (1/2 tries). Called with (*('EAST 128 STREET, AND 3 AVENUE BRIDGE, New York, NY',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 534, in _make_request
    response = conn.getresponse()
               ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connection.py", line 565, in getresponse
    httplib_response = super().getresponse()
                       ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/http/client.py", line 1430, in getresponse
    response.begin()
  File "/usr/lib/python3.12/http/client.py", line 331, in begin
    version, status, reason = self._read_status()
                              ^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/http/client.py", line 292, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/socket.py", line 720, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/ssl.py", line 1251, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/ssl.py", line 1103, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 787, in urlopen
    response = self._make_request(
               ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 536, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 367, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/requests/adapters.py", line 667, in send
    resp = conn.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 841, in urlopen
    retries = retries.increment(
              ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/util/retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/geopy/adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/adapters.py", line 700, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/geopy/extra/rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
    ^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/extra/rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/geocoders/nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/geocoders/base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/geopy/adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1
WARNING:geopy:RateLimiter swallowed an error after 2 retries. Called with (*('EAST 128 STREET, AND 3 AVENUE BRIDGE, New York, NY',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 534, in _make_request
    response = conn.getresponse()
               ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connection.py", line 565, in getresponse
    httplib_response = super().getresponse()
                       ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/http/client.py", line 1430, in getresponse
    response.begin()
  File "/usr/lib/python3.12/http/client.py", line 331, in begin
    version, status, reason = self._read_status()
                              ^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/http/client.py", line 292, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/socket.py", line 720, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/ssl.py", line 1251, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/ssl.py", line 1103, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 787, in urlopen
    response = self._make_request(
               ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 536, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 367, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/requests/adapters.py", line 667, in send
    resp = conn.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/connectionpool.py", line 841, in urlopen
    retries = retries.increment(
              ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/urllib3/util/retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/geopy/adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/requests/adapters.py", line 700, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=EAST+128+STREET%2C+AND+3+AVENUE+BRIDGE%2C+New+York%2C+NY&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:


KeyboardInterrupt:

# **Step4 Integration**

# **Step5 Cleaning The Data (Post-Integration)**

# **Step6 Building an Interactive Website (Dash)**

## Step 7 : Contributions Templete For Collabortors Pull & Push

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import getpass

token = getpass.getpass("Enter your github classical token :")
username = input("Enter your github username :")
!git clone https://{username}:{token}@github.com/kevorkian-mano/Motor_Vehicle_Collisions_Project.git

In [ ]:
%cd Motor_Vehicle_Collisions_Project
!git pull

In [ ]:
email = input("Enter your github email : ")
user = input ("Enter your github username : ")
message = input ("enter your commit message :")
!git config --global user.email {email}
!git config --global user.name {user}
!git add .
!git commit -m {message}
!git push