<a href="https://colab.research.google.com/github/kevorkian-mano/Motor_Vehicle_Collisions_Project/blob/main/DataVisProject1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Step1 Loading The Data**

In [ ]:
import pandas as pd
# Load crashes dataset
crashes_url = 'https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=download'
df_crashes = pd.read_csv(crashes_url , low_memory=False)
# Load persons dataset
persons_url = 'https://data.cityofnewyork.us/api/views/f55k-p6yu/rows.csv?accessType=download'
df_persons = pd.read_csv(persons_url , low_memory=False)

# **Step2 Exploring The Data**

In [ ]:
df_crashes.info()

df_crashes.shape
sample_crashes = df_crashes.sample(10000, random_state=42)
sample_crashes.head(10)
sample_crashes.columns.tolist()
sample_crashes.isna().sum().sort_values(ascending=False).head(15)

sample_crashes.describe()
sample_crashes.head(10)
sample_crashes.tail(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218631 entries, 0 to 2218630
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 490.9+ MB

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
354876,01/19/2021,8:30,NaN,NaN,40.763060,-73.902360,"(40.76306, -73.90236)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4385299,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1774426,02/25/2014,14:30,MANHATTAN,10022,40.759786,-73.976288,"(40.7597856, -73.976288)",WEST 52 STREET,5 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,44751,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1571125,01/30/2015,6:00,QUEENS,11378,40.725920,-73.895340,"(40.7259197, -73.8953397)",GRAND AVENUE,69 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3161123,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
52977,07/03/2021,21:40,BRONX,10457,40.852486,-73.887240,"(40.852486, -73.88724)",BELMONT AVENUE,EAST 183 STREET,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,4434469,Station Wagon/Sport Utility Vehicle,Motorbike,NaN,NaN,NaN
1552567,03/18/2015,16:00,QUEENS,11354,40.766571,-73.831443,"(40.7665705, -73.8314427)",LINDEN PLACE,LATIMER PLACE,NaN,...,Unspecified,Unspecified,NaN,NaN,3188965,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN
244604,08/25/2023,15:55,BRONX,10464,40.853863,-73.790400,"(40.853863, -73.7904)",NaN,NaN,565 CITY ISLAND AVENUE,...,Unspecified,NaN,NaN,NaN,4658140,Sedan,Sedan,NaN,NaN,NaN
1959734,04/08/2013,9:00,NaN,NaN,NaN,NaN,NaN,218 STREET,133 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,223080,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
852895,04/09/2018,17:41,BRONX,10460,40.840446,-73.866920,"(40.840446, -73.86692)",NaN,NaN,1831 EAST TREMONT AVENUE,...,Unsafe Lane Changing,NaN,NaN,NaN,3878481,Sedan,Sedan,NaN,NaN,NaN
2206227,09/15/2025,17:16,MANHATTAN,10028,40.775246,-73.947624,"(40.775246, -73.947624)",E 85 ST,YORK AVE,NaN,...,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,NaN,NaN,NaN,4843015,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
229844,04/04/2023,17:30,QUEENS,11373,40.739790,-73.878360,"(40.73979, -73.87836)",NaN,NaN,84-20 BROADWAY,...,Unspecified,NaN,NaN,NaN,4618388,Sedan,NaN,NaN,NaN,NaN

# **Step3 Cleaning The Data (Pre-Integration)**

The Contributing Factor Veichle coloums cleaning

In [25]:
import numpy as np
factor_cols = [f'CONTRIBUTING FACTOR VEHICLE {i}' for i in range(1, 6)]

In [26]:
def clean_text(text):
    if pd.isna(text):
        return np.nan
    return str(text).strip().lower()

for col in factor_cols:
    df_crashes[col] = df_crashes[col].apply(clean_text)

In [21]:
unique_factors = all_factors.str.lower().unique()
print("Number of unique values:", len(unique_factors))
print(sorted(unique_factors)[:63])

Number of unique values: 24
['1', '80', 'animal on road', 'backing unsafely', 'distraction - device', 'distraction - other', 'driver condition', 'eating or drinking', 'environmental factor', 'failure to yield right of way', 'illness', 'impairment - substance', 'listening/using headphones', 'other electronic device', 'pedestrian/bicyclist/other pedestrian error/confusion', 'reaction to uninvolved vehicle', 'road defect', 'slippery pavement', 'traffic control issue', 'unsafe driving behavior', 'unspecified', 'vehicle anomaly', 'vehicle defect', 'visibility issue']

In [27]:
replacements = {
    'driver inattention/distraction': 'driver inattention',
    'fatigued/drowsy': 'driver fatigue',
    'fell asleep': 'driver fatigue',
    'failure to yield right-of-way': 'failure to yield',
    'failure to keep right': 'failure to keep right',
    'unsafe lane changing': 'unsafe lane change',
    'passing or lane usage improper': 'improper lane usage',
    'passing too closely': 'following too closely',
    'unsafe speed': 'unsafe speed',
    'backing unsafely': 'unsafe backing',
    'alcohol involvement': 'alcohol involvement',
    'drugs (illegal)': 'drug involvement',
    'prescription medication': 'drug involvement',
    'aggressive driving/road rage': 'aggressive driving',
    'pedestrian/bicyclist/other pedestrian error/confusion': 'pedestrian or bicyclist error',
    'obstruction/debris': 'road obstruction',
    'outside car distraction': 'outside distraction',
    'passenger distraction': 'passenger distraction',
    'reaction to other uninvolved vehicle': 'reaction to other vehicle',
    'reaction to uninvolved vehicle': 'reaction to other vehicle',
    'cell phone (hand-held)': 'cell phone use',
    'cell phone (hands-free)': 'cell phone use',
    'texting': 'cell phone use',
    'using on board navigation device': 'navigation device use',
    'listening/using headphones': 'distraction',
    'animals action': 'animal action',
    'tire failure/inadequate': 'tire failure',
    'brakes defective': 'brake failure',
    'steering failure': 'steering failure',
    'accelerator defective': 'accelerator defective',
    'vehicle vandalism': 'vehicle vandalism',
    'windshield inadequate': 'visibility issue',
    'view obstructed/limited': 'visibility issue',
    'glare': 'visibility issue',
    'lane marking improper/inadequate': 'lane marking issue',
    'pavement defective': 'road defect',
    'pavement slippery': 'slippery road',
    'traffic control disregarded': 'traffic violation',
    'traffic control device improper/non-working': 'traffic signal issue',
    'headlights defective': 'vehicle defect',
    'other lighting defects': 'vehicle defect',
    'tow hitch defective': 'vehicle defect',
    'tinted windows': 'visibility issue',
    'oversized vehicle': 'vehicle defect',
    'driver inexperience': 'driver inexperience',
    'driverless/runaway vehicle': 'vehicle defect',
    'illness': 'driver illness',
    'illnes': 'driver illness',
    'lost consciousness': 'driver illness',
    'physical disability': 'driver illness',
    'other vehicular': 'vehicle defect',
    'shoulders defective/improper': 'road defect',
    'unspecified': 'unspecified',
    'unknown': 'unknown',
    '1': 'unspecified',
    '80': 'unspecified'
}

for col in factor_cols:
    df_crashes[col] = df_crashes[col].replace(replacements)

# Recombine to check all normalized values
cleaned_factors = pd.concat([df_crashes[col] for col in factor_cols], ignore_index=True).dropna()

In [28]:
print("Unique factors after normalization:", cleaned_factors.nunique())
print(cleaned_factors.value_counts().head(15))

Unique factors after normalization: 22
unspecified                      9316248
distraction - other               579605
unsafe driving behavior           458679
failure to yield right of way     151050
driver condition                  149928
vehicle anomaly                   124747
unsafe backing                     89266
traffic control issue              50492
impairment - substance             47397
reaction to other vehicle          27241
slippery pavement                  25489
visibility issue                   19073
vehicle defect                     16208
pedestrian or bicyclist error      14497
environmental factor               10316
Name: count, dtype: int64

In [29]:
factor_cols = [f'CONTRIBUTING FACTOR VEHICLE {i}' for i in range(1, 6)]

# Combine again (after cleaning)
all_factors_after = pd.concat([df_crashes[col] for col in factor_cols], ignore_index=True)

# What values are not covered by your replacements mapping?
unmapped = all_factors_after[~all_factors_after.isin(list(replacements.values()))].dropna().unique()

print(f"{len(unmapped)} unmapped values remain:")
print(sorted(unmapped))

13 unmapped values remain:
['animal on road', 'distraction - device', 'distraction - other', 'driver condition', 'eating or drinking', 'environmental factor', 'failure to yield right of way', 'impairment - substance', 'other electronic device', 'slippery pavement', 'traffic control issue', 'unsafe driving behavior', 'vehicle anomaly']

# **Step4 Integration**

# **Step5 Cleaning The Data (Post-Integration)**

# **Step6 Building an Interactive Website (Dash)**

## Step 7 : Contributions Templete For Collabortors Pull & Push

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import getpass

token = getpass.getpass("Enter your github classical token :")
username = input("Enter your github username :")
!git clone https://{username}:{token}@github.com/kevorkian-mano/Motor_Vehicle_Collisions_Project.git

In [ ]:
%cd Motor_Vehicle_Collisions_Project
!git pull

In [ ]:
email = input("Enter your github email : ")
user = input ("Enter your github username : ")
message = input ("enter your commit message :")
!git config --global user.email {email}
!git config --global user.name {user}
!git add .
!git commit -m {message}
!git push